[2016-01-21 12:59] mjeveritt opened #28 "Missing components aren't 'found' when added to project library, and sheet is 'Revert'ed"
Briefly discussed a temp fix for this, whilst underlying work on the library system takes place.
To replicate:
- load a schematic file with components missing from local/project library
- note bunch of red messages about missing components
- copy symbols from 'other' library into project library
- File->Revert
- red messages do not disappear.

Cause of the problem is the symbol cache, which is per

[2016-01-21 18:38] #28 closed

[2017-02-14 17:26] peter-b opened #39 "Distinguishing between lepton and geda-gaf"
lepton currently installs and uses a lot of documentation, programs and other files that clash with those installed and used by `geda-gaf`.

We want to be backward compatible with `geda-gaf` <= 1.9.2, but also want users to be able to install a newer geda-gaf alongside lepton.  Also, spending a lot of time on renaming things is busy-work that does not really bring much benefit to users.

We should

[2017-02-16 14:43] peter-b opened #43 "Rename Coverity Scan project"
At the moment the Coverity Scan project for Lepton is named [peter-b/geda-gaf](https://scan.coverity.com/projects/peter-b-geda-gaf) for historical reasons, but it needs to be renamed to match the new organisation and project name.

[2017-02-16 17:56] peter-b opened #44 "General contact e-mail address for Lepton developers"
When a Coverity Scan static analysis run completes, it currently e-mails the results to me, because there isn't a mailing list or group e-mail alias for Lepton developers in general.

[2017-02-17 06:27] vzh commented on #39
@peter-b I propose to read Scheme rc files as is in their current
paths. There is nothing to do with resource libraries until we'll
implement them other way and add settings for them to new config.

We could add some defines like this:

and then:
  * for project files just to search lepton.conf in the same paths it is searched now; if it is not found in a directory we search, look up for its geda.

[2017-02-17 07:30] vzh opened #46 "Pull requests effectively stopped due to CI failures"
We cannot ever check now if code builds correctly after a pull
request. For three last PRs I see:

After googling I found some gcc versions are buggy in this
relation, people wrote so about 4.6 and 4.7. I wonder if this is
the case for CI builds. I could not find the info about compiler
version in the last report.

FWIW, [here](http://stackoverflow.com/questions/7067385/find-the-gcc-version)
I fou

[2017-02-17 07:32] peter-b commented on #46
@vzh If you merge #40 then the problem will go away :+1:

[2017-02-17 07:38] vzh commented on #46
@peter-b Do you mean to merge it in the master branch?

[2017-02-17 07:41] peter-b commented on #46
@vzh Yes! It's ready to go. And then I can retry the CI build for each of the failed PRs

[2017-02-17 07:44] #46 closed

[2017-02-18 09:24] peter-b commented on #39
@vzh Do you have any opinion on symbol naming?  In gschem, for example, we carry on with `gschem_do_something()`, `typedef struct _GschemType GschemType`, `GSCHEM_MACRO_NAME`, etc?

[2017-02-18 12:31] vzh commented on #39
@peter-b Generally, I believe we should start another issue/discussion here to address the symbol naming problem. I cannot suggest now anything better than the symbol name should reflect its functionality, and contain author name for non-stock (non-shipped with the repo) symbols, and a modification number (for various sizes etc.) like before. Probably we could also include a version info into this

[2017-02-18 12:42] peter-b commented on #39
Ah, sorry, by "symbol naming" I meant the naming of the exported functions and variables in libgeda, rather than the naming of schematic symbols. I'm sorry for being unclear!

[2017-02-18 22:46] gareth8118 opened #49 "Make sure localised strings have re-orderable substitutions where possible"
Where strings are localised and have substitutions, those substitutions should have the *param-no* in the format string to allow translators to reorder the substitutions if it makes sense for that translation.

https://www.gnu.org/software/libc/manual/html_node/Output-Conversion-Syntax.html#Output-Conversion-Syntax

It is probably worthwhile adding this *param-no* specifier even if there is only o

[2017-02-18 23:26] gareth8118 opened #51 "Remove newlines from log messages"
When pull request #48 is merged, lots of extraneous whitespace will appear in the logs as the messages have newlines themselves, and the logging code will add one.

Remove newlines from all log messages then merge #48

[2017-02-19 08:52] peter-b opened #52 "Can't compile C++ programs that use libgeda/liblepton"
Compiling a trivial test program with `libgeda` and some basic STL headers:

[code]

There are several constructions in the libgeda headers that are either invalid in C++ code or conflict with the STL headers.  These boil down to two main problems:

- C++ does not permit forward declaration of enumerations
- libgeda provides `min` and `max` macros that conflict with `std::min()` and `std::max()`

[2017-02-19 18:40] peter-b opened #54 "Rename libgedacairo to libleptonrenderer"
Our `libgedacairo` actually uses the same _code_ as upstream geda-gaf at the moment, but when compiled it has a dependency on `liblepton` rather than `libgeda`. We should rename it to `libleptonrenderer` or `libleptoncairo` or something.

~~The current split between `libgedacairo` and `liblepton` seems a little arbitrary.  Maybe it would make sense to merge `libgedacairo` into `liblepton` rather t

[2017-02-19 19:06] ehennes775 commented on #54
Sent from my iPhone

It would be nice to have a GUI widget library. Maybe move the contents of libgedacairo into liblepton, rename libgedacairo to libleptongui or something, then move widgets from gschem into libleptongui.

[2017-02-19 19:30] vzh commented on #54
@peter-b I would like to keep rendering library separate. Besides, it would be simpler to just rename it on this stage.
@ehennes775 I think having a gui widget library is a good idea. I wouldn't merge the cairo library with the gui library. Cairo funcs are used by non-gui tools, too.

[2017-02-19 20:46] #49 closed

[2017-02-19 20:55] #52 closed

[2017-02-19 22:20] peter-b commented on #39
@vzh

For system config files, we will (hopefully) not have write access, and _usually_ the tools shouldn't write to it, I guess (they should write to the user config file).  For the user/system config files, I suggest setting things up so that when you _load_ it the first time, it loads from the gEDA file, but whenever you save it it saves to the Lepton file.  And the same for project files.  I t

[2017-02-19 22:28] noqsi opened #60 "Pin connected to two nets"
If there are two instances of a refedes/pin combination, the effect in gnetlist can be a pin connected to two nets. This is nonsense. Either:

1. Merge the nets.
2. Make this a fatal error.

I prefer (1), but not strongly.

[2017-02-20 07:56] #51 closed

[2017-02-20 18:04] noqsi opened #61 "Net renaming problems"
There are a number of issues surrounding net renaming. Consider the following tiny project:

[netnames.tar.gz](https://github.com/lepton-eda/lepton-eda/files/788183/netnames.tar.gz)

"make" yields the following (with my commentary):

Should we allow renaming on the same hierarchical level? If so, we should at least have some way to check that it's intentional, and not a short circuit.

	+5V and +5

[2017-02-21 12:15] vzh commented on #49
@gareth8118 Thank you! One minor note though. There is no need to translate debug messages.
@peter-b Thank you for review and fixes!

[2017-02-21 21:08] jgriessen commented on #44
Are you ready for testers?  Should I switch from 	https://github.com/vzh/geda-gaf.git   unstable-1.9 yet?

[2017-02-21 21:11] peter-b commented on #44
@jgriessen Yes, we're open for business and making good progress!  @vzh's `unstable-1.9` branch is officially gone. Everything should work, so please let us know if you run into any problems with compiling or running Lepton 👍.

[2017-02-21 21:49] vzh commented on #60
@noqsi Thank you for the report!
I think we should try to use (1) until we have core functions for checking consistency of packages in schematics.

[2017-02-22 07:42] #54 closed

[2017-02-22 07:51] peter-b opened #70 "ci: Coverity Scan builds are broken"
The [latest `coverity_scan` branch builds are broken](https://travis-ci.org/lepton-eda/lepton-eda/builds/203950040) with error messages about the snarf macros.

<details>
<summary>Relevant extract from build log</summary>

[code]

</details>

It's possible that this could be because we're defining `SCM_DEBUG_TYPING_STRICTNESS=0` in the `$CFLAGS` rather than in the `$CPPFLAGS`.

[2017-02-22 09:28] vzh commented on #70
@peter-b I have the same errors if I do `make clean && make 'CFLAGS=-DSCM_DEBUG_TYPING_STRICTNESS=2'` in my local repo, which IIUC should not be the case for CI builds. Could it be that the variable `COVERITY_SCAN_BRANCH` is not properly set? It would be probably of help to show in logs which flags for `configure` have been chosen.

[2017-02-22 16:44] ehennes775 opened #72 "Create Lepton Project at OpenHub"
Create a project for lepton-eda at www.openhub.net. This website will allow us to track the metrics of the project.

[2017-02-25 15:42] vzh commented on #72
@ehennes775 I think this is a great idea! Could you do this? :-)

[2017-02-25 17:21] ehennes775 commented on #72
I've created the initial project on OpenHub:
https://www.openhub.net/p/lepton-eda

@vzh Can you sign up for an account and set yourself up as the manager?

[2017-02-25 18:48] vzh commented on #72
@ehennes775 I've registered myself as the manager. Thank you!

[2017-02-25 18:49] #72 closed

[2017-02-25 19:52] gareth8118 commented on #39
@peter-b I know I can do it but I didn't want to jump in and edit your issue unannounced - can you add a TODO item line for documentation changes? Even getting the README updated would be a big step in the renaming/rebranding exercise since it appears on the front page of the github http view of the project.

[2017-02-28 03:20] noqsi opened #76 "Segfault on OS X"
While lepton compiles on OS X (version 10.9.5), it does not function properly

When I first start `gschem`, it does not display any of the widgets (see the screen capture below).  If I mouse over them, the widgets slowly reveal one by one.  This is also true of the menu widgets.  The scroll for the drawing area is also out of place.

After a short amount of use, I get a segmentation fault with the

[2017-02-28 03:48] noqsi opened #77 "An attempt in a Vagrant Ubuntu 14.04 VM"
When I issue the following at the command line:

[code]

I get in the log window of gschem:

[code]

[2017-02-28 03:49] noqsi commented on #77
The line

[code]

Makes me think that some paths are hard-coded, which breaks custom installations.

[2017-02-28 08:22] vzh commented on #77
@noqsi They should not.

Could you try the following things:
- `~/lepton/bin/gaf shell -c '(display geda-rc-path)` - what does it output?
- do `./configure` with another prefix, say `/tmp` to see if `$HOME` settings do not interfere in your installation.
Thank you for report!

[2017-02-28 09:39] vzh commented on #76
@noqsi After some googling I found [this](https://github.com/trizen/youtube-viewer/issues/115). Two links there point to gtk3 code and to documentation for class NSScreen used in apple products (and in quartz among others). One of the gtk2 artifacts in the new gtk3 code is still the method `userSpaceScaleFactor` reported on your console. It is deprecated in OS X 10.7 and later, as the error says.

[2017-02-28 13:13] gareth8118 commented on #76
@noqsi couple of questions:

- did gEDA/gaf run on OS X for you?
- Is this under `homebrew`, ` macports` or `'fink` or similar? or is it a completely native XCode build?

I ask the former because I did some work on [getting gEDA to build under macports](http://wiki.geda-project.org/geda:gaf_building_git_version#macports) but Apple were making it harder and harder with each OS X release and I event

[2017-02-28 15:07] noqsi commented on #76
gEDA/gaf 1.8 runs on OS X for me, although the graphics are glitchy.

This is under homebrew.

[2017-02-28 15:19] noqsi commented on #77
`~/lepton/bin/gaf shell -c '(display geda-rc-path)'` crashes and burns just like gschem.

`ERROR: No such file or directory: "/usr/share/gEDA/print-colormap-lightbg"`

This file is actually installed at ~/lepton/share/gEDA/print-colormap-lightbg.

[2017-02-28 15:26] noqsi commented on #77
Same problem installing in `/tmp`. Looking in `/usr/share` rather than `/tmp/lepton/share`.

[2017-02-28 15:47] vzh commented on #77
John, try to add `--enable-relocatable` flag to `./configure`.

[2017-02-28 15:58] vzh commented on #77
@noqsi There are also variables *GEDADATA*, *GEDADATADIR*, *GEDARCDIR*. Could you show the output of the command `grep GEDA config.log` on your system?

[2017-02-28 17:03] vzh commented on #77
@noqsi BTW, the variables I've mentioned can be set in you environment, or the path could have been set in one of your `gafrc` files, say, in `~/.gEDA`.

[2017-02-28 17:17] vzh commented on #77
@noqsi I found the definition of `geda-rc-path` which is used to find colormap scheme files in `geda.scm`:

`env` should show if one of the two first variables is set.

[2017-02-28 17:37] vzh commented on #77
@noqsi The last option `(sys-config-dirs)` uses [g_get_system_config_dirs ()](https://developer.gnome.org/glib/stable/glib-Miscellaneous-Utility-Functions.html#g-get-system-config-dirs) to search the directory where `share/gEDA` may live. Please also look if the env var `XDG_CONFIG_DIRS` is set (though normally your `--prefix` should define the last entry in `(sys-config-dirs)`).

[2017-03-02 08:59] graahnul-grom opened #81 "Build with --enable-relocatable on FreeBSD"
On FreeBSD (11.0-STABLE, amd64, r313735) build failed with --enable-relocatable:

[skip]
../liblepton/src/.libs/liblepton.so: undefined reference to `canonicalize_file_name'
make[4]: stopped in /home/dmn/lepton/lepton.git/gaf

  Then I found guess_install_data_dir() function in
liblepton/src/edapaths.c and there:
1) canonicalize_file_name() in a non-portable GNU extension
2) there is no /proc/self

[2017-03-02 16:56] vzh commented on #81
@graahnul-grom I wonder why it worked at all.
- The function `g_file_test("/proc/self/exe", G_FILE_TEST_IS_SYMLINK)` should return _false_ if there is no such file on your system, so the `canonicalize_file_name` should not work at all. Please check the existence of _/proc/self/exe_ once more. Even the dangling symlink will make the test pass as it is stated [here](https://developer.gnome.org/glib/

[2017-03-03 09:19] peter-b commented on #81
@graahnul-grom If you are building and installing on your own machine, I highly recommend `--disable-relocatable`.  I added `--enable-relocatable` to assist with Win32 support and I don't think it will give good results on Win32 systems yet.

[2017-03-03 09:23] peter-b commented on #77
@noqsi What happens if you run this?

    gaf --no-rcfiles shell -c '(display geda-rc-path)'

[2017-03-03 21:10] gareth8118 commented on #70
That link is showing a passing build now - can this be closed?

[2017-03-04 03:05] noqsi commented on #77
@peter-b
`Kakuzen:~ jpd$ lepton/bin/gaf --no-rcfiles shell -c '(display geda-rc-path)'`
`Backtrace:`
yadda yadda ...
`ERROR: Unbound variable: geda-rc-path`

[2017-03-04 09:24] vzh commented on #77
@peter-b Neither `gaf --no-rcfiles ...` works for me with the same error as @noqsi showed, although anything other works OK.

[2017-03-04 10:55] peter-b commented on #77
@vzh Sorry, you're completely correct; the `geda-rc-path` variable is set in `geda.scm`, which is loaded by `system-gafrc`.  So if you disable RC files, `geda-rc-path` isn't available; the Scheme environment is left pretty empty because most of the Scheme stuff has now been moved into loadable modules.  It seems like it would be better to run something like:

    lepton/bin/gaf --no-rcfiles shell

[2017-03-04 11:00] peter-b commented on #70
@gareth8118 Unfortunately not.  If you expand out the full log [you see that it bails early](https://travis-ci.org/lepton-eda/lepton-eda/builds/203950040#L1683) (while compiling `liblepton`) but that isn't being detected properly by the Travis CI plugin for Coverity.

[2017-03-04 13:00] peter-b commented on #43
https://scan.coverity.com/projects/lepton-eda-lepton-eda

Done!

[2017-03-04 13:00] #43 closed

[2017-03-04 20:03] noqsi commented on #77
[code]

[2017-03-04 20:14] noqsi commented on #77
@vzh
@peter-b

`XDG_DATA_DIRS=$HOME/lepton` seems to fix a lot. With that, gschem at least superficially functions (although some icons are broken).

Could the problem be:

`--disable-update-xdg-database` in my configure?

[2017-03-04 20:56] vzh commented on #77
@noqsi Could you add just in installed */home/vagrant/lepton/share/gEDA/scheme/geda.scm* the following code just after definition of `geda-rc-path`:
[code]

We would see then, if the file is loaded in your configuration, and what settings it uses.

[2017-03-05 10:15] gareth8118 commented on #70
ah, OK.

[2017-03-05 10:16] #70 closed

[2017-03-05 10:21] gareth8118 commented on #76
Ah, I'd been avoiding homebrew on my current MBP because it used to conflict badly with csound in its use of `/usr/local` but it looks like hb has moved into `/usr/local/Homebrew` now? If I get time, I may install hb to try to reproduce this but I can make no promises!

[2017-03-05 11:06] gareth8118 commented on #39
In the spirit of incremental changes being better than no changes, I've made an initial attempt at leptonising the README.md here: https://github.com/gareth8118/lepton-eda/tree/lepton-renaming-docs - not ready for a pull yet but worth reading over.

(do we have a convention for the capitalization of 'lepton'/'Lepton'?)

[2017-03-05 16:12] peter-b commented on #39
Personally, I think that in prose it's easier to read "Lepton EDA" (or "Lepton" on 2nd & subsequent appearances).

[2017-03-05 16:48] vzh commented on #39
@gareth8118 Agreed with Peter. One more note. When we name the program, use `lepton-something`, just its name. When we name the project itself, use Lepton EDA or Lepton.

[2017-03-05 21:46] gareth8118 commented on #39
Fixed up capitalisation in my branch referenced above.

[2017-03-06 21:41] graahnul-grom commented on #81
@peter-b Thank you. Have no problems building without --enable-relocatable.

[2017-03-06 21:45] graahnul-grom commented on #81
@vzh

This is a link-time dependency, not a run-time one.

gnulib is just a bunch of source code files, is does not fix anything.

No. GNU C library (**g**libc) is primarily a linux thing.

Yes, using readlink() instead of canonicalize_file_name().

[2017-03-07 05:27] vzh commented on #81
@graahnul-grom Ah, sorry for my ignorance.
Then, since we don't support relocatable builds on FreeBSD, as @peter-b said, we should probably close this issue. WDYT?

[2017-03-07 12:02] vzh commented on #39
@gareth8118 I'd suggest you to squash your changes and make a PR. We could then review its parts and add comments and thoughts of what should be changed and how. I'd prefer changes on this topic faster migrate into the repo.

Thank you for the work!

[2017-03-07 16:21] graahnul-grom commented on #81
@vzh I think, yes (and I have more issues for you :) ). But I believe that statement about lack of support of relocatable builds on FreeBSD should be included somewhere in installation instructions.

[2017-03-07 16:41] vzh commented on #81
@peter-b Could you please add info on limited use of `--enable-relocatable` some place in *INSTALL*? We'll close the issue then.

[2017-03-07 23:08] gareth8118 commented on #39
@vzh #93 opened

[2017-03-15 09:46] gareth8118 opened #99 "Github identifies .sch files as KiCAD"
reported by pcjc2:

https://github.com/lepton-eda/lepton-eda/search?l=kicad suggests that Lepton is 10.2% KiCAD files as it IDs schematic files as KiCAD files.

GH Language defs are at

https://github.com/github/linguist/blob/master/lib/linguist/languages.yml

this file needs to be fixed and PRed

[2017-03-15 13:12] vzh commented on #99
@gareth8118 Could not find your PR. Could you provide us with direct link to it?

[2017-03-15 13:17] gareth8118 commented on #99
@vzh I haven't created it yet. I'll clarify the ticket.

[2017-03-15 20:18] graahnul-grom opened #100 "gnetlist ignores 'graphical' attribute"
It does not depend on the type of backend being used,
nor on the value the 'graphical' attribute is set to.
All components end up in the generated netlist.

Tested revision: latest git (2d8cc86).
Tested on: FreeBSD 11.0-STABLE, Debian 8.7 Stable.

Commands used:

In the attachment there are simple test sch file and
gnetlist's output for the above commands:

https://drive.google.com/open?id=0B8Dmx_

[2017-03-15 20:43] vzh commented on #100
@graahnul-grom Could you please put your archives just here? Personally I hate third party services that require such clumsy and fat browsers as firefox or chrome (which slow down on my old machines), and would prefer to always have needed data at hand. Thanks.

[2017-03-16 14:40] graahnul-grom commented on #100
[test_gnetlist_ignores_graphical.zip](https://github.com/lepton-eda/lepton-eda/files/848001/test_gnetlist_ignores_graphical.zip)

[2017-03-17 17:13] vzh commented on #100
@graahnul-grom  A package won't be in netlist if it has no `refdes=` attribute attached. Inherited ones aren't taken into consideration. You can either remove attached refdeses or rename them, say, to `_refdes=` to get what you need.
Do you think components having `graphical=1` should be ignored anyway?

[2017-03-17 18:33] peter-b commented on #100
Most of the gnetlist netlist backends can't cope with components that have no `refdes=` attribute.  There are basically two options:

- gnetlist should treat components with no `refdes=` attribute as if they had `graphical=1`
- gnetlist should generate a suitable unique `refdes=` attribute for components that have no `refdes=` and no `graphical=1`

We should probably pick one of these!

Also, two

[2017-03-18 09:55] pcjc2 commented on #100
peter-b's last point raises a thorny question...

Notionally:

Are attributes attached to symbol instances _always_ to be attributes of the netlist entity of that refdes?

OR.. are they attributes of the the symbol instance, that just happen to get propagated down (in most cases), to the netlist entity created when the symbol instance has a refdes=.

The graphical=1 case (which I'm unsure is a fea

[2017-03-19 18:54] noqsi opened #104 "Empty attribute value should be valid"
Right now, attributes with empty values are not allowed. But an empty string is a perfectly valid string, and can be useful for back ends driving downstream flows for which blank input is valid.

[2017-03-19 18:57] noqsi opened #105 "Attribute multiplicity"
For attributes like `source`, it would be better to have a single attribute with a multiline value than the current multiple attributes.

[2017-03-19 19:00] noqsi opened #106 "Enumerated attributes"
It would be better for enumerated attributes to have the form `name:number=value` than `name=number:value`. Cleaner to display and easier to promote and override.

[2017-03-21 09:29] vzh commented on #106
@noqsi You've written the same forms. Please fix this.
And how to support backward compatibility in this case, do you think? Using some config settings or probably toplevel attribs?
Thanks.

[2017-03-21 09:52] peter-b commented on #106
@noqsi You say that `name:number=value` would be "cleaner to display and easier to promote and override."  Could you provide some detailed examples of what you're talking about, please?

[2017-03-21 10:01] peter-b commented on #105
@noqsi One of the things that really bites us at the moment is attributes that occur multiple times with the same `name=` component, and `source=` is one of them.

Rather than using multiple lines, another approach could be to use `source=foo;bar;baz`.  This is a pretty well-established format that's used extensively by e.g. the `GKeyFile` system that we use for Lepton config files.  It would be s

[2017-03-21 10:34] vzh commented on #105
@peter-b Today `gnetlist` and `gschem` use different approaches wrt `source=`, and `gnetlist` one (inherited from the old codebase) is to use either several `source=` attribs to choose schematics or comma-delimited list in the attrib (or both, as is implemented now). Please look at the procedure `comma-separated->list` in `schematic->xml` [here](https://github.com/lepton-eda/lepton-eda/blob/master

[2017-03-21 10:37] vzh commented on #104
I agree with this. Besides, such attributes could work as templates, e.g. in `spice` backends.

[2017-03-21 11:25] peter-b commented on #105
@vzh I suppose one problem is that `,` and `\n` are actually valid Linux filename characters. Probably there is a bug here, because we need to have an escaping system so that users can say, "Yes, this is really a filename character, not a separator."  Using a single separator character would make this easier. Maybe `source=` should stick with `,`.

Is there any hope to move towards a single consis

[2017-03-21 12:24] vzh commented on #105
@peter-b I think John's proposal is just this: *a single consistent system for all attributes that have value lists*. That is, he proposes multilined attributes for that. I think it would be enough if we also decide on which attributes can have multiple values. I don't see an issue with `,` or `\n`. Let those users who want to use such names suggest an escaping system implementation for this. BTW,

[2017-03-21 12:52] vzh commented on #100
Hi guys!
I've investigated the issue a bit and found that:
- `gnetlist` ignores packages without `refdes=` only if they have the attribute `graphical=1`
- I believe the above behaviour  (no inheritance of `refdes=` @peter-b has asked about) is written in C and will be fixed when I have some time for that and good tests (help with tests is very appreciated)
- if a package has no attached `refdes=`

[2017-03-21 12:59] peter-b commented on #105
@vzh Ah, I see.

There is a challenge if you have an attribute value that contains both a comma and a `\n`.  Is it a comma-separated value, where one of the elements contains `\n`?  Or is it a `\n`-separated value, where one of the elements contains a comma?

I suggest the following approach:

- [ ] Do an audit of everywhere in the codebase that tries to parse list-valued attributes (I think there

[2017-03-21 13:05] vzh commented on #100
I think that the fact that `gnetlist` ignores packages with `graphical=1` and no `refdes=` is "the right thing" IF there is no inherited "refdes=" attribute. Otherwise we have to warn the user, anyway.

[2017-03-21 13:07] vzh commented on #100
If a component has no `refdes` and no `graphical` we have to warn the user. It might be just a mistake, though not critical one.

[2017-03-21 13:28] vzh commented on #100
@peter-b About multiple components (your last question).
As of now, processing of multiple components with the same refdes is buggy. The patch proposed doesn't solve the issue because it is a different topic.
You can edit the attached schematic a little, e.g. copy *R3* and delete its `graphical` attribute and do (with my patch applied):

The way I would wish it to work is to cross-check the attrib

[2017-03-21 13:45] vzh commented on #105
@peter-b Yes, thanks, something like this. I am not sure that I understood your third point correctly, a couple of examples wouldn't harm.

[2017-03-25 05:15] graahnul-grom commented on #100
Just tried Vladimir's patch: now gnetlist handles `graphical=1` correctly.
Also, I found that setting this attribute to any other value effectively
negates its meaning. I think this is great, because adding/removing it
every time is very inconvenient.
However, not sure how about backward compatibility here: the former behaviour was to check just for `graphical` attribute's _presence_.

[2017-03-25 11:06] vzh commented on #100
@graahnul-grom If `gnetlist` even supported `graphical` with other values, it should be considered a bug. Please look at [this](http://wiki.geda-project.org/start?do=search&id=%22graphical%3D%22). And imagine how confusing it would be if some user set `graphical=0` or `graphical=no` to prevent treating a component as a graphical one if we processed it another way. So I think it was a considered de

[2017-03-28 09:07] #100 closed

[2017-03-29 11:54] graahnul-grom opened #110 "'Text Entry...' dialog should respect 'text-size' option's value"
Now it uses a hard-coded value - 12 (in `system-gschemrc` `text-size`
is set to 10). Also, it was found that the font size
checking code in `g_rc_text_size()` also uses hard-coded values
instead of `MINIMUM_TEXT_SIZE` and `DEFAULT_TEXT_SIZE` macros.
That was [reported](https://bugs.launchpad.net/geda/+bug/1565803) almost a year ago, but there's still no feedback.
It seems that the fix is still rel

[2017-03-29 15:45] vzh commented on #110
@graahnul-grom Please make a PR.

[2017-03-31 11:02] #110 closed

[2017-03-31 12:38] graahnul-grom opened #112 "Freestyle colors are displayed as 'Unknown'"
User-defined colors ('freestyle', 4 of them), when set to some valid
color value (not `#f`) are all displayed as `'Unknown'` in color selection
combo box. Maybe it's better to [give them](https://github.com/graahnul-grom/lepton-eda/commit/8ef9280eb2d78bf0c588ae257f37340238f596c5) some distinguishable names?

[2017-03-31 13:21] vzh commented on #112
Please do.

[2017-03-31 14:08] #112 closed

[2017-04-02 16:10] graahnul-grom opened #114 "Incorrect behavior when undo-panzoom option is set to "disabled""
Steps to reproduce:
1) add `( undo-panzoom "disabled" )` to `gschemrc` config file
2) start `gschem`
3) open some schematic
4) change the zoom level
5) make changes to schematic (e.g. move or delete something)
6) `Edit -> Undo`

- What happen:
When all changes are undone, the initial zoom level is restored.

- What should happen:
Undo/redo operations should not change the zoom level at all.

This

[2017-04-02 19:33] vzh commented on #114
No, `undo-panzoom` is for adding additional undo steps to undo zooming changes. Please read its documentation. If you want to add a config setting to disable zooming on undo at all, please add another option using a new config system (as of now, *geda.conf* and similar files).

[2017-04-03 09:12] graahnul-grom commented on #114
@vzh `system-gschemrc`:

Is this correct?

Now they *are* undone, and in a strange way: the zoom level is restored
when the undo stack becomes empty.
Am I missing something here? Maybe `undo-panzoom` is documented elsewhere?
Please let me repeat: the current behavior is indeed very irritating. If it's necessary, of course I will add config variable to fix it, as you have said.

[2017-04-03 10:13] vzh commented on #114
It is related to *ONLY* zooming and panning steps that are done *WITHOUT* schematic modification. You can *git grep* for `undo_panzoom` through the code and see it. Viewport information is saved nevertheless for schematic modification steps. For example, if you add a component, then do VE, then zoom in, then move the component, these four steps should be saved in undo history with `undo-panzoom=en

[2017-04-05 10:37] graahnul-grom commented on #114
Would it be appropriate place and name for [the new option](https://github.com/graahnul-grom/lepton-eda/commit/d7c95e6b1fdae66686e720b0e246c7cd837aa0e9)?
[code]

[2017-04-05 19:48] vzh commented on #114
I have asked [here](https://gitter.im/lepton-eda). Join us there to discuss anything you wish :-)

[2017-04-06 13:19] vzh commented on #114
I think we could use:
[code]
by default.

BTW, please don't modify HTML docs. They have been autogenerated from geda wiki. A better way until we come up with a new documentation system (not very soon, I think) would be translating of parts of wiki into *Texinfo* files in `docs/`.

[2017-04-06 16:35] graahnul-grom commented on #114
Thanks! :) OT: what irc client would you recommend?

Didn't know about that.

Honestly, for me `preserve-viewport` name is ambiguous:
Will viewport be preserved and then restored by `undo`?
Or will it be preserved in the state set by the user, so that `undo` could not change it?
I cannot tell what does it mean.
So far, [the group name is changed and wiki files are reverted](https://github.com/graa

[2017-04-06 19:11] vzh commented on #114
I used web interface so far. Though you [can use](irc.gitter.im) anything supporting *ssl*, e.g. *erc-ssl* in Emacs.

Will `restore-viewport` do?

[2017-04-06 19:42] graahnul-grom commented on #114
Isn't it much of the same as `preserve-viewport` - with just the opposite meaning
(and equally ambiguous)?
It seems that we have to be a bit more verbose here to avoid any confusion.
How about leaving the name as it is in the code now (`undo-can-modify-panzoom`) :-)

[2017-04-06 20:06] vzh commented on #114
I don't think so. The group name already suggests the option is related to undo. I think *viewport* is a good term for what changes. If you don't like the word *restore*, probably just *modify* or *change* (e.g. `modify-viewport`) would be less ambiguous, what do you think?

[2017-04-06 20:20] graahnul-grom commented on #114
Yes! Precise.
[code]
[Done](https://github.com/graahnul-grom/lepton-eda/commit/1cbdf28ade65128a735a9bde8253b229da0929ef)

[2017-04-06 20:41] vzh commented on #114
OK, please squash your commits and make a PR.

[2017-04-06 20:49] graahnul-grom commented on #114
Moreover, I believe that `undo-panzoom` option in `system-gschemrc` should be  disabled by default. Most new users, I think, will not like it. [For example](http://www.eevblog.com/forum/geda/who-besides-me-uses-geda/msg915232/?PHPSESSID=jap455ua872le6s1k9vb8n0gf8#msg915232).

[2017-04-11 08:43] #114 closed

[2017-05-16 08:50] graahnul-grom opened #127 "'make check' on FreeBSD"
It's not possible to do a successful `make check`
on FreeBSD. Although I've managed to find where it fails
and make a [fix](https://github.com/graahnul-grom/lepton-eda/commit/e6de9ea12c1b2e8fee62bc0ff2463ee9b11c3fcc), I'm not sure, should it be committed as is.
The way 'make check' fails looks very strange.

1. Unportable `sed` command in `gnetlist` tests is fixed; not a problem.

2. `liblepton` u

[2017-05-17 13:39] vzh commented on #127
@graahnul-grom Do you really think `config-load!` is the culprit? Will it work if you remove all the test body but the first `config-load!` (I mean all `assert-equal` and such)? If it works, then you could add tests one by one.

It looks like you've triggered the second case (*unaligned access*) described [here](https://en.wikipedia.org/wiki/Bus_error).

Don't know what's wrong with `setenv`, it s

[2017-05-18 11:02] graahnul-grom commented on #127
It seems that only `putenv()` works:
scheme@(guile-user)> `(getenv "USER")`
$1 = "bot"
scheme@(guile-user)> `(setenv "USER" "123")`
scheme@(guile-user)> `(getenv "USER")`
$2 = "bot"
scheme@(guile-user)> `(putenv "USER=123")`
scheme@(guile-user)> `(getenv "USER")`
$3 = "bot"
scheme@(guile-user)> `(setenv "USER" #f)`
scheme@(guile-user)> `(getenv "USER")`
$4 = "bot"
scheme@(guile-user)> **`(putenv "

[2017-05-18 11:44] graahnul-grom commented on #127
Commenting/uncommenting test doesn't make a difference,
only number of times `config-load!()` is called.

[2017-05-20 08:06] vzh commented on #127
First, let's split these issues. Please make different commits for different topics.

I read [here](http://www.greenend.org.uk/rjk/tech/putenv.html) that FreeBSD violates specifications wrt `setenv` & `putenv`. So I don't mind to add `putenv`, it shouldn't break anything. The only question I have: since those tests are in *geda-gaf* for years, why did nobody  report the same issue so far?

The iss

[2017-05-26 14:11] graahnul-grom commented on #127
1. No errors in REPL
2. The same failure with guile 2.0.11
3. `make check` may be successful if:
    - `config-real` is commented out
    - previous test (`config-int`) is commented out
    - `config-real` is moved to another place in the file, but it looks completely random: at some places it works, at other it doesn't.

The architecture is amd64.
Apparently, nobody ever bother to run `make check

[2017-05-27 08:05] vzh commented on #127
@graahnul-grom Could you try to debug this using `gdb` in order to get the backtrace?
It seems to be a lowlevel issue (and I'm still thinking it's an unaligned access to memory as it is related to `config-real`), so we need to have some more information to decide what to do further. I would suggest using of the same command that Makefile uses for tests. E.g. on my system after `make` I do:

and th

[2017-05-28 12:56] graahnul-grom commented on #127
Just got gdb backtrace.
That was not `config-real`. It's `config-string`. This line:
[code]

[2017-05-28 13:04] graahnul-grom commented on #127
Starting program: /home/dmn/lepton/bin.tb/bin/lepton-cli --no-rcfiles shell -L /home/dmn/lepton/lepton.git/liblepton/scheme -c \(use-modules\ \(unit-test\)\)\ \(load\ \(list-ref\ \(command-line\)\ 1\)\)\ \(exit\ \(if\ \(tests-passed\?\)\ 0\ 1\)\) unit-tests/t0402-config.scm
;;; note: auto-compilation is enabled, set GUILE_AUTO_COMPILE=0
;;;       or pass the --no-auto-compile argument to disable.

[2017-05-28 13:06] graahnul-grom commented on #127
lepton was compiled with `CFLAGS=-O0 -ggdb`

[2017-05-28 13:17] graahnul-grom commented on #127
Executing that code in REPL gives no error.

[2017-05-28 13:31] graahnul-grom commented on #127
Nothing changes if lepton is built using g++.

[2017-05-29 09:21] vzh commented on #127
@graahnul-grom Could you please check out [this branch](https://github.com/vzh/lepton-eda/tree/fix-freebsd-make-check) and check if it solves the issue with config test?

[2017-05-29 11:27] graahnul-grom commented on #127
Unfortunately, it doesn't help.

[2017-05-29 11:36] graahnul-grom commented on #127
It seems that I have found the error. `g_strfreev()` expects to receive a NULL-terminated array of strings.
[code]

[2017-05-29 11:54] vzh commented on #127
OK, great! :+1:
Please fix a typo in *trminate* and make a PR.

[2017-05-29 19:26] graahnul-grom commented on #127
Thank you!
It was really a strange issue.
Why does this bug *never* manifest itself on Linux? I don't know...
It'll be interesting if somebody could try this on Mac.

[2017-05-30 05:28] #127 closed

[2017-06-12 13:03] noqsi commented on #77
And now I cannot reproduce the problem.

[2017-06-12 16:16] noqsi commented on #106
Imagine a symbol with "net=VCC:14" and "net=GND:7". How do you unambiguously promote and override? Which one does net=+5CL3:8 override, or does it add another hidden connection? But if it was "net:14=" (empty value) and "net:8=+5CL3" that would indicate that you're moving the connection to pin 8 and changing its netname.

[2017-06-14 12:14] vzh commented on #77
@noqsi OK, thank you for the report!
I close the issue. We can always re-open it if somebody hits the same problem.

[2017-06-14 12:14] #77 closed

[2017-06-14 12:31] vzh commented on #106
@noqsi Got it, thanks.
So you're suggesting using of empty values here to explicitly disable connections. What do you think of using multiline `net=` for such cases, e.g.:

I think using of one attribute instead of multiple ones would be easier for promoting and editing as well as for parsing.

[2017-07-04 14:07] vzh commented on #61
@noqsi Hi, I am just working on net renaming in
`lepton-netlist`. Some changes have been already made in #139, the
bug with *(null)* has been fixed, the warning about same src and
dest is hidden now. Other planned changes require some consensus
and some more refactoring work.

I think we should keep the possibility to rename any named net
using a power symbol such as GND.

I suggest the following

[2017-07-08 18:16] noqsi commented on #61
Vladimir,

I’m not happy taking a DRC attribute, pintype, and loading extra functionality onto it beyond DRC. This is especially true because I think our DRC needs improvement, and entangling it with other functionality will make that more difficult.

I think that much simpler rules will be more comprehensible.

Names bound to nets by net= have precedence over names bound by netname=.
Other than t

[2017-07-10 11:19] vzh opened #141 "Duplicate output for net= mapped implicit pins on several package symbols"
If different *net=* attributes with mapping for the same pin are
attached to several symbols with the same *refdes=*, all they
appear in the resulting netlist.

How to reproduce
---------------------
See, e.g. output of the `geda` backend for *U500:14* in `gnetlist/tests/common/netattrib.sch`.

5V : U500 14
3.3V : U500 14

[2017-07-10 11:41] vzh opened #142 "Last attached net= is used for net naming if several ones attached to a symbol"
If several *net=* attributes are attached to a symbol with mapping
for the same pin, the last one is used for net renaming. I think
the first one should be used and all others should be
ignored. `lepton-netlist` should warn the user in such cases. The
same should be done for inherited *net=* attributes if there are no
attached ones for the pin.

How to reproduce
----------------
See, e.g. *net=sig

[2017-07-11 05:39] vzh opened #143 "Sometimes inherited net= inside symbol overrides net= attached to it."
Sometimes inherited net= inside symbol overrides net= attached to
it.  See, e.g., the net connected to *U500:10* from
*gnd-custom.sym* inside `gnetlist/tests/common/netattrib.sch`,
having inherited *net=DIGITAL_GND:1* and attached *net=DGND:1*.

How to reproduce
---

DIGITAL_GND : U500 10

[2017-07-11 06:21] vzh opened #144 "net= mapped explicit pins connected with an unnamed net yield duplicate lines in output netlists"
If two pins mapped by attached *net=* attributes are connected
with an unnamed net, they produce duplicate connections/signals
with different names in output netlists.

See, e.g., *net=signal6:6* attached to *U400.2* and
*net=signal9:9* attached to *U400:3* in
`gnetlist/tests/common/netattrib.sch`. The real pins are connected
with an unnamed net.

How to reproduce
---

v["U400","6"]=v["signal9"];

[2017-07-11 08:10] vzh opened #145 "gnetlist: "net-naming-priority" config setting does not work."
`gnetlist/tests/common/netattrib.sch` has nets named both by *net=* and *netname=* attributes. For example, *U400:8* is connected to net named *out8* that should be overridden if *net-naming-priority* is set to *net-attribute* by *net=signal8:8* or *net=signal8x:8*, though output netlists have the same net *out8* independently of the value of that setting. Moreover, the result depends on which att

[2017-07-11 10:14] #144 closed

[2017-07-11 10:14] #145 closed

[2017-07-18 20:46] szg0000 opened #147 "./autogen.sh fails"
**./autogen.sh fails with:**

[code]

**automake is installed:**

[code]
**And gettext also installed:**
[code]

[2017-07-19 05:42] vzh commented on #147
Hi,
AFAICS, you have to install `autopoint` to make it work.

In `configure.ac` there is macro *AM_GNU_GETTEXT_VERSION* which is processed by `autopoint` to extract the `gettext` version and copy appropriate files to the build infrastructure. `apt-cache show autopoint` will show the info about it for you.

Please report if this helps.
Thanks.

[2017-07-19 08:18] szg0000 commented on #147
Thanks for your help.
Now I have different problem, when running make:

[code]

[2017-07-19 08:58] vzh commented on #147
Have you `groff` installed? You can check as follows:

BTW, some more info before the hunk you provided would be of some help.

[2017-07-19 09:02] szg0000 commented on #147
**More info:**
[code]
**grep -i groff config.log -A1**

[code]

[2017-07-19 09:14] vzh commented on #147
Well, the last command says something is wrong with your `groff` installation. I mean this:

E.g., on my system:

Please check this. You may have to reinstall the package.

[2017-07-19 09:57] szg0000 commented on #147
`locate DESC|grep roff|grep html`
gives back nothing.

**without html grep:**
[code]

**groff version:**
[code]

**ls /usr/share/groff/1.22.3/font/devhtml/**
[code]

[2017-07-19 16:02] vzh commented on #147
OK, once *devhtml* exists, `locate` just cannot show it because its database is outdated. `sudo updatedb` should fix this (`update-dlocatedb` does the same for the database of Debian packages info `dlocate` works with). Though it is not the issue, I think. The files you found first are from the package `groff-base`, while the directory *devhtml* is in `groff`.

Have you tried to reinstall `groff`

[2017-07-20 14:06] szg0000 commented on #147
After `updatedb`

[code]

[2017-07-21 06:30] vzh commented on #147
OK, I've looked at the test of `groff` more gazely, and found its test in `geda-groff.m4`. Basically, it consists of two commands:

and

which, AFAIUI, should take its input from stdin. So you can try, e.g.:

It should output correct html and exit with 0 on your system, that is

after it should yield 0.

Please check this.

[2017-07-26 11:17] vzh commented on #147
Any progress with this?

[2017-07-26 17:54] szg0000 commented on #147
Thanks for your reminder. I will check tomorrow.

[2017-07-27 09:57] szg0000 commented on #147
autogen runs successful without errors. Now I have problems with running lepton-schematic:

[code]

[2017-07-27 11:55] vzh commented on #147
Please try this:

[2017-07-30 10:34] szg0000 commented on #147
Thanks. It works.

[2017-07-30 10:34] #147 closed

[2017-08-03 04:07] drforbin opened #148 "netlister error"
I'm getting this error.

Backtrace:
In ice-9/boot-9.scm:
 160: 7 [catch #t #<catch-closure 2071660> ...]
In unknown file:
   ?: 6 [apply-smob/1 #<catch-closure 2071660>]
In ice-9/boot-9.scm:
  66: 5 [call-with-prompt prompt0 ...]
In ice-9/eval.scm:
 432: 4 [eval # #]
In ice-9/boot-9.scm:
2404: 3 [save-module-excursion #<procedure 2091980 at ice-9/boot-9.scm:4051:3 ()>]
4058: 2 [#<procedure 2091980

[2017-08-03 09:17] vzh commented on #148
What exact command do you use?

[2017-08-03 19:38] drforbin commented on #148
~/lepton/bin/lepton-netlist -g spice-sdb -o out..net Q2.sch

Lepton is installed in $HOME directory under 'lepton'

[2017-08-04 05:36] vzh commented on #148
OK, AFAICS, if the procedure `scm-error` has a long list of arguments, it usually shown as:

Do you have any lines beginning with *ERROR* after the backtrace you've shown?

[2017-08-04 05:46] vzh commented on #148
AFAICS from guile sources, your error relates to loading of some source code. You may try to insert the following line into `lepton-netlist` itself to check to what value guile's load-path is set:

The best place is just before the `(with-toplevel ...)` line.
BTW, what is your version of guile?

[2017-08-04 21:10] drforbin commented on #148
Thank you for your response.
I'm using guile-2.0.13-r1.
I was also getting an error related to not finding geda.conf.
I created empty files for these and the error went away.
Also recompiled the entire suite (lepton-eda) and it seems to be working now.
I tried some test runs with spice-sdb and verilog net listers and and they seems to work ok!
Seem to. I will do further tests.

I'll get back with

[2017-08-05 16:54] drforbin commented on #148
Hi...I checked everything out last night and found another problem.
I think it may be related.

the first file (test_lep) is a verilog netlist with your gnetlister.
the 2nd test.txt is via gnetlist. Your version seems to drop the first argument  from the module definition. Let me know if I can help.

[test_lep.txt](https://github.com/lepton-eda/lepton-eda/files/1202527/test_lep.txt)
[test.txt](htt

[2017-08-05 20:55] mario-giovinazzo commented on #148
Hi,
I'm porting lepton-eda-master on windows10-64bit under CygWin.
Gschem runs fine but netlist has a very similar behaviour.
Just asking for the version (guile 2.0.14) :
[code]
What can I do?
Thanks

[2017-08-06 13:27] vzh commented on #148
@drforbin The issue with verilog is another bug, and it's my fault, sorry. It's trivial to fix and I'll do it soon, I hope. Anyway, we need more tests for each and every backend. For examble, I have not found any special test for verilog, there is no output file vere any verilog module name is defined. If you have some schematics to test verilog and you can share them, this would be of great help,

[2017-08-06 14:33] vzh commented on #148
@mario-giovinazzo Your issue is very different. Please open a new issue.

FWIW, I was working on mingw port a couple of years ago ([you can find it here](https://github.com/vzh/minipack)) and am still interested
in a package of Lepton for Windows.

If you point me at your repo, I could probably try it myself.
Thanks.

[2017-08-06 14:37] vzh commented on #148
@drforbin Please check if the suggested patches fix your verilog output. Thanks.

[2017-08-06 20:33] mario-giovinazzo opened #150 "Netlist error in windows cygwin porting with most recent lepton-eda"
I have successfully compiled lepton-eda-1.9.3 under cigwin targeting windows 64bit.

Starting from $HOME my fold scheme was:
lepton-eda-1.9.3
lepton-eda-1.9.3/build
lepton-eda-1.9.3/source

My procedure was:
1) untar lepton-eda-1.9.3 in source dir
2) run autogen.sh in source/lepton-eda-1.9.3 dir
3) run build.sh in lepton-eda-1.9.3 dir

build.sh script was basically:

[code]

Just few adjustments w

[2017-08-06 23:39] drforbin commented on #148
viz,

Thank you. I will look at the patches.
I would like to help you if I can.
Firstly, I have some schematics and syms etc for verilog testing I can provide.
Please advise on if you would like them.
2nd, I have a modified version of gmk_sym which allows the easy creation of negedge triggered symbols. let me know if you would like to have a look at it.

[2017-08-07 05:42] mario-giovinazzo commented on #150
I have forgotten to mention that after run autogen.sh  I manually copied the missing file "version.h" from lepton-eda-1.9.3 to lepton-eda-master source dir.

[2017-08-07 07:14] drforbin commented on #148
ok..I got it merged...I compiled the patch and it works.

[2017-08-07 07:15] drforbin commented on #148
Let me know what you wish me to do with my additions

[2017-08-07 07:41] vzh commented on #148
@drforbin Probably the best option is to integrate your schematics, syms and whatelse with the current netlister test suite and make a PR. Another option is just make a new issue and put all the files there in hope someone other will do the work for you.

[2017-08-07 08:01] vzh commented on #148
@drforbin As for `gmk_sym` and other utils, well, I would prefer to have them rewritten in Scheme as extension modules which could be then used inside `lepton-schematic`. I don't think it is a good idea to have the tools dependent on the file format we have now. My long term goal is either to replace contrib scripts and utils with Scheme modules, or move them into another repository, since we don'

[2017-08-07 08:08] #148 closed

[2017-08-07 08:40] vzh commented on #150
@mario-giovinazzo Yes, it is correct that there is no `lepton-netlist.exe`. `lepton-netlist` is not a binary file but a *guile* script.

[2017-08-07 08:44] vzh commented on #150
Dynamic linking depends on shared libraries, AFAIK. IIUC, those are *libname.dll*, *libname.dll.a* and such. I don't see any such named libs in the `dir` output shown above. However I see `--disable-shared` flag for `configure`. Could this be the reason of the issue?

[2017-08-07 17:56] drforbin commented on #148
ok...will place them in repo and do a PR so you can have a look.
The verilog examples really helped me. It took me sometime to figure out how to get it all working.
That is a problem with geda is DOC. as for writing in scheme. I know C C++ java, python. have not written anything in scheme. I will try and learn. For now please just have a look.

[2017-08-08 20:09] mario-giovinazzo commented on #150
Shared libraries have some limitations and complications in CygWin.
So I compiled lepton-eda-1.9.3 with
   --disable-shared
   --enable-relocatable
The tool is fully working and relocatable, included guile scripts like schdiff.
Following your suggestion I will try to compile the git repository version with shared library, this when I will be back from holiday in September.
Thanks

[2017-08-13 19:02] drforbin opened #152 "additions added to gmk_sym"
Added functionality to gmk_sym.
Please see commit ac32b912babb1eb3b7eff79bea0788aa80e2773a

[2017-08-13 22:39] jgriessen opened #153 "v1.9.3 configuration howto is wanted for efficiency."
By efficiency, I mean, "Not ready for results-required user making a OSHW board on a low budget."  Also with a low time budget, not just low money.

I saw a comment about using command line to set config files.
Then I put a question to the email list geda-user, then to irc #geda,
"Where do I find a howto on config files for letpon-eda?"
then I did other things, checked elists
and no answer, so I t

[2017-08-14 09:44] vzh commented on #152
@drforbin Please look at #154. Instead of pointing out every bit I didn't like in your additions, I just  squashed your commits and added several changes. Please note the following:
- C++ comment style `//` should be avoided
- Please don't insert your name anywhere in the code, it's enough to have it in the changes section, and in git commit itself (`git blame` will show you all author names, anyw

[2017-08-14 10:22] vzh commented on #153
@jgriessen Probably nobody but me can answer this question here these days ;-) Though I'm also having a busy life, sorry. Probably asking at [gitter](https://gitter.im/Lepton-EDA) would give you a more quick answer.

As for the lepton configuration, not much things have changed since 1.9.2 (@dmn has added some new config setting though they are mostly for `lepton-schematic` (`gschem`)). If you hav

[2017-08-16 05:35] #152 closed

[2017-09-25 11:18] mario-giovinazzo commented on #150
Hi vzh,
yes, you are right.
I have successfully compiled (under cigwin) the latest version of lepton-eda from the git repository Using shared memory and all I tested works fine.
`make LDFLAGS="-no-undefined -llepton -lleptonrenderer -lgio-2.0 -lgobject-2.0"`
Just a note, the link to documentation from help menu seems to be not updated, I renamed the doc dir from lepton-eda to geda-gaf.
Thanks.

[2017-10-01 09:55] vzh commented on #150
@mario-giovinazzo Thank you for your work!
It would be very nice to have this info written down somewhere. WDYT?
WRT the docs, I've opened #157. Please look if the patch proposed works for you.

[2017-10-01 09:56] #150 closed

[2017-10-02 14:44] mario-giovinazzo commented on #150
I will post here (next week) information on how to build and run lepton-eda under cygwin.

[2017-10-03 03:56] ehennes775 opened #158 "Height of One Pixel TextView"
Inside the multiattrib dialog box, the value textview has a height of one pixel. This issue was fixed in a commit and reintroduced in a later commit.

Original Fix:
42182f0ae6b16171329f00f32ff1857d38c1c33e

Reintroduction:
79d6da9e2dec05716570ae9b99ba65f5ddec5bbc

[2017-10-03 17:03] vzh commented on #150
Thanks!

[2017-10-03 17:17] vzh commented on #158
@ehennes775 Does resurrecting of the line with "height-request" fixes the dialog on your system? (I cannot just reproduce the issue on my computer...)

[2017-10-04 04:13] ehennes775 commented on #158
It should, and if you fix it, I will test it.

The height of the textview is defined by the scrollbar buttons. Since my system has popup scroll bar widgets, the height is one pixel.

I've experimented with letting the labels on the left define the height of the table row and setting the textview cell to GTK_FILL. So far, it does not match the size of the other widgets.

[2017-10-04 12:05] vzh commented on #158
Edward, please review #159.

[2017-10-05 18:09] mario-giovinazzo commented on #150
How to build lepton-eda on windows 64 bit under CYGWIN starting from zero.
1) Download "setup-x86_64.exe" from cygwin and install cygwin base packages.
2) Run "setup-x86_64.exe" again and add the following packages:
[code]
3) Start cygwin
mkdir lepton-eda
cd lepton-eda
make in a file with the following script, let say "build.sh", and run it.
It takes a while
[code]
5) Add the following environment

[2017-11-05 07:29] #158 closed

[2017-11-05 10:26] vzh commented on #158
@ehennes775 OK, the fix is in the master branch now. Please report if it works for you.

[2017-11-06 02:42] ehennes775 commented on #158
The fix works.

[2017-11-06 08:00] vzh commented on #158
Great, thanks!

[2017-12-13 02:34] graahnul-grom opened #166 "Custom font for the log window"
IMHO, it's natural to use some kind of monospaced font
for the log window. Better yet, let the user decide:
introduce a configuration key for that.
It's [easy](https://github.com/graahnul-grom/lepton-eda/commit/c63175a7eccfff160d1fac2a0901866ae146304d), though I'm unsure about group/key naming:
[code]

[2017-12-18 18:29] vzh commented on #166
What about using

WDYT?

[2017-12-19 17:53] graahnul-grom commented on #166
Looks good.
#167

[2017-12-26 20:10] #166 closed

[2018-02-14 15:45] mario-giovinazzo opened #172 "Single-Pin-Net in netlist for unconnected pins"
I have an unconnected pin generating DRC error.
Connecting this pins to NC symbol (sym/misc/nc-right-1.sym) solves but generate a Single-Pin-Net in netlist that I must manually remove.
Is there a way to avoid this?
Thanks

[2018-02-15 16:25] graahnul-grom opened #173 "Color selection combo box does not get updated on color scheme change"
![dark](https://user-images.githubusercontent.com/26083750/36267708-78828e22-126c-11e8-8259-acfb6620b96b.png)
![light](https://user-images.githubusercontent.com/26083750/36267718-7ffed8b8-126c-11e8-9e8b-daa4175136b2.png)
![bw](https://user-images.githubusercontent.com/26083750/36267728-87a80d28-126c-11e8-961f-a1b014aa90e1.png)

[2018-02-15 18:19] graahnul-grom commented on #172
@mario-giovinazzo Could you please provide us with some test schematics and `lepton-netlist` output?

[2018-02-15 21:03] mario-giovinazzo commented on #172
This is a simple no-sense circuit,  pins U1-10 and U1-12 are unconnected.
![image](https://user-images.githubusercontent.com/30755972/36280184-c2c2aa58-1299-11e8-8d7d-c189997c4caa.png)
Running “lepton-netlist -g drc2” will produce errors:
[code]
And running “lepton-netlist -g geda” will produce a correct netlist:

[code]
Now connecting  unconnected pins U1-10 and U1-12 to nc-right-1.sym
![image](h

[2018-02-16 12:48] graahnul-grom commented on #172
@mario-giovinazzo Thank you!
It looks like `lepton-netlist` does not completely ignore
"graphical" symbols (maybe issue #100 is related).
Just tested it with a simple schematic:
![issue172](https://user-images.githubusercontent.com/26083750/36307889-2688c7da-1316-11e8-850b-10c95f394bb4.png)
`lepton-netlist -g geda -o - issue172.sch`:
[code]
![issue172_with_nc](https://user-images.githubusercontent

[2018-02-16 22:50] graahnul-grom commented on #172
It seems that we have to delete nets with *NC* symbols (maybe
conditionally, depending on backend).
Will test and post the patch for `gnetlist.scm` tomorrow.
[code]

[2018-02-17 15:53] graahnul-grom commented on #172
@mario-giovinazzo Please try [this patch](https://github.com/graahnul-grom/lepton-eda/commit/e4eaa87ff6fda29a33e8984fe4e06a2a80226f56), or
simply replace `$INSTALLDIR/share/gEDA/scheme/gnetlist.scm` file with the one
from the archive attached.
[issue172_patch_0.zip](https://github.com/lepton-eda/lepton-eda/files/1733778/issue172_patch_0.zip)

[2018-02-17 18:55] mario-giovinazzo commented on #172
Hi graahnul-grom,
thanks You for your great and rapidly work.
I tested the patch with a multi-sheet hierarchy design and it works fine.
Tomorrow I will make more test with more backend.

P.S.
The only aspect that may be evaluated is when the NC symbol is connected to a net with more than 1 pin (a real net), condition that of course is an error.
In this case DCR2 recognizes the error and the PATCH

[2018-02-19 20:48] #173 closed

[2018-02-19 22:12] mario-giovinazzo commented on #172
I have done various tests with various backend and the patch works fine.

[2018-02-21 09:12] graahnul-grom commented on #172
@mario-giovinazzo Thank you! I've filed a [PR with that changes](https://github.com/lepton-eda/lepton-eda/pull/176).
Also, we'd like to thank you very much for your Cygwin instructions. They are published  in [Lepton EDA wiki](https://github.com/lepton-eda/lepton-eda/wiki/Lepton-EDA-and-Cygwin).

[2018-02-21 19:44] vzh commented on #150
@mario-giovinazzo This description (thanks to @graahnul-grom) is now [in our wiki](https://github.com/lepton-eda/lepton-eda/wiki/Lepton-EDA-and-Cygwin). Thank you!

[2018-03-21 22:18] graahnul-grom commented on #153
@jgriessen @vzh Please take a look at this [wiki page](https://github.com/graahnul-grom/lepton-eda/wiki/Configuration-Settings) - an attempt to compile information about new configuration system. It would be great to hear your opinion and suggestions.

[2018-03-21 22:41] noqsi commented on #153
Very nice.

One thing that doesn’t quite fit all cases, though, is:

lepton-cli config option to access context: —project

My projects often have multiple gnetlist configurations. For example https://github.com/noqsi/gnet-spice-noqsi/wiki/Broadband-amplifier-board <https://github.com/noqsi/gnet-spice-noqsi/wiki/Broadband-amplifier-board> flattens hierarchy for layout, but keeps it for simulation.

[2018-03-27 15:54] graahnul-grom commented on #153
@noqsi Good point, thank you!
Just edited the page to indicate that `--project` option can take (optional) `PATH` argument.

[2018-04-15 10:39] graahnul-grom commented on #153
@jgriessen @vzh @noqsi
I've uploaded the updated document about configuration system to our [wiki page](https://github.com/lepton-eda/lepton-eda/wiki/Configuration-Settings).
Please take a look. If everything is fine (any suggestions are welcome), I think we may close this issue.

[2018-04-16 09:57] graahnul-grom opened #185 "configure script does not recognize --enable-contrib option"
The bug is in `m4/geda-contrib.m4`

[2018-04-16 11:31] graahnul-grom commented on #81
I think it's enough to describe it in NEWS.md and 'configure --help' output.
#187

[2018-04-16 12:16] graahnul-grom opened #188 "Lepton EDA cannot be built when DEBUG is defined"
There are compiler errors in `gattrib` and `schematic` due to
outdated code inside some `#ifdef DEBUG` blocks.

[2018-04-22 07:05] #185 closed

[2018-04-22 07:54] #81 closed

[2018-04-22 08:08] #188 closed

[2018-04-22 18:43] vzh commented on #39
All utils seem to have been renamed.

[2018-04-22 20:37] graahnul-grom opened #199 "Hardcoded perl, python, bash paths"
[code]

[code]

[code]

[2018-04-27 10:05] graahnul-grom opened #202 "Improve the status bar"
Now it looks like this:
![current](https://user-images.githubusercontent.com/26083750/39356376-89d10bca-4a18-11e8-9085-25846c3c91ae.png)

with some "mode" activated:
![current_active](https://user-images.githubusercontent.com/26083750/39356588-0ae260ba-4a19-11e8-9819-e308719f6509.png)

1) First three entries designates a mouse button assignment (left, middle, right).
They are static strings that n

[2018-04-27 13:42] graahnul-grom commented on #202
[wip_statusbar](https://github.com/graahnul-grom/lepton-eda/commits/wip_statusbar)

[2018-05-06 07:49] #199 closed

[2018-05-23 19:05] graahnul-grom commented on #153
@vzh
Vladimir, as I see no questions nor any suggestions, maybe we can close the issue?
Or you just have not enough time to look into this?

[2018-05-23 19:48] #202 closed

[2018-05-23 20:08] vzh commented on #153
@graahnul-grom There are some minor issues in your wiki document (that will be fixed in course of time, I believe), though I think it's good enough as a whole. Thank you very much!

P.S. Please update it with info about your recently added settings related to status bar ;-)

[2018-05-23 20:08] #153 closed

[2018-05-24 10:07] graahnul-grom commented on #153
@vzh

Done.

[2018-05-28 11:03] graahnul-grom opened #214 "Split user configuration"
Currently, user configuration file (`geda-user.conf`) is used to store an important
data that controls behaviour of the tools in the suite. At the same time,
`lepton-schematic` use that file for program-specific settings, like dialog
geometry.  The latter is not important to the user and should be stored separately.
In the draft implementation ([wip_cfg_priv_split branch](https://github.com/graahn

[2018-05-28 11:40] graahnul-grom commented on #214
`gui.conf`?

[2018-06-08 18:56] #214 closed

[2018-06-30 18:44] graahnul-grom opened #224 "Freestyle colors should not be disabled by default"
Disabling that colors effectively prohibit their usage:
if users want to share schematic files, they also have to
share their color schemes, because otherwise some text
will be invisible to those with default setup.

[2018-06-30 18:55] graahnul-grom commented on #224
Besides, I would add another 4-6 freestyle colors, since 4 IMHO
is not sufficient.  However, I doubt we can do it now (if it will be decided at all),
due to backward compatibility that we have to maintain in the upcoming release.

[2018-07-03 03:41] graahnul-grom opened #225 "Reorganize the main menu"
A. `File` menu:
  1. delete duplicated `Revert` (already in `Page` menu)

B. `Edit` menu:
  1. combine to one item: `Object Properties...`:
    - `Color...`
    - `Line Width & Type...`
    - `Fill Type...`
    - `Pin Type...`

C. `View` menu:
  1. rename: `Sidebar` => `Right Dock`
  2. rename: `Status` => `Bottom Dock`

D. `Page` menu:
  1. separate `Revert` from the other items
  2. rename: `Rev

[2018-07-14 17:31] graahnul-grom opened #229 "No way to show the popup menu if the right mouse button is used for panning"
It would be nice if we can assign free (middle) mouse button to display the popup
menu in that case, e.g. by using the following expression in `gschemrc` file:
[code]
But it's impossible: the popup menu can be shown using the right mouse
button only. However, it's easy to implement (#226). Testing and suggestions are welcome.

[2018-07-23 08:47] graahnul-grom opened #231 "utils/xyrs: 'make check' fails with perl >= 5.26"
After `perl` upgrade (to 5.26) `make check` starts to fail in `utils/tests/gxyrs`
(first two tests: `do_nothing_tabulated`, `do_nothing`).
This is due to removal of the current directory (`"."`) from `@INC` in `perl` 5.26
(see [perl 5.26 release notes](https://metacpan.org/changes/release/XSAWYERX/perl-5.26.0#Removal-of-the-current-directory-(%22.%22)-from-@INC)).
As a temporary fix we could `expo

[2018-07-23 22:00] vzh commented on #231
Ideally, your fix description should consist of "what" (title) and "why" (description) parts. Please include such a description as the above inside commits to make them more comprehensible. Thanks!
BTW, perl 5.24.1 on debian stable also has this issue.

[2018-07-23 22:00] #231 closed

[2018-07-23 22:13] vzh commented on #224
Though we can do it afterwards :-)
I'd use the same color notation as in Scheme files (colormaps) to change colors of arbitrary objects.

[2018-07-23 22:15] #224 closed

[2018-07-30 16:40] graahnul-grom commented on #231
You are right, I should have included the above paragraph in the commit message.
(At the time, may be, I thought the comment in the file is sufficient.)
Strange, but for perl 5.24.4 (FreeBSD 11.1-STABLE) the issue does not manifest itself.

[2018-08-01 14:58] graahnul-grom commented on #224
@vzh

Are you talking about using that notation in *.sym and *.sch files instead of numbers (i.e. changing the file format)?

[2018-08-01 18:32] graahnul-grom opened #234 "User-defined text size values"
It's convenient to use a consistent text sizes of attributes and text
throughout the project. And that  sizes are not necessary those
hard-coded in `schematic/src/gschem_toplevel.c`.
I propose to add a new configuration key, so that the users can add this to
their configuration file(s), e.g.:
[code]
Then these values will appear in the 'size' combo box of 'add text'
and 'edit text' dialogs.

[2018-08-03 13:33] graahnul-grom opened #238 "The log window should be scrolled to the bottom when something is written to the log"
For example: I run `DRC`, then open the log window to check the result (the last two lines). But what I see instead? The middle part of the previous `DRC` run:

![log_no_scroll](https://user-images.githubusercontent.com/26083750/43645153-c5974fe8-9739-11e8-98ed-90ff1a757e27.png)

The issue [was reported](https://bugs.launchpad.net/geda/+bug/1493456) (and confirmed) on launchpad back in 2015.

[2018-08-15 17:00] vzh commented on #224
Yes, though we don't have to change the existing format. We could extend it transforming it into something new in time provided that we change its version (read, the header line).

[2018-08-20 22:38] #234 closed

[2018-08-20 22:40] #238 closed

[2018-08-20 23:05] #229 closed

[2018-08-31 18:48] graahnul-grom commented on #225
If anyone wants to try the menu modified as proposed, here's the diff attached.

[system-gschemrc.diff.txt](https://github.com/lepton-eda/lepton-eda/files/2341191/system-gschemrc.diff.txt)

[2018-09-04 18:17] vzh commented on #225
Several notes after your suggestions:

- Should we add `&object-properties` Scheme function and replace several `&edit-something` with it? WDYT?

- I'd like "Sidebar" better than "Right Dock" (and why could not it be left, for example?). However, I don't quite understand what could be used instead of "Status" then. Especially, when the user doesn't use embedded dialogs.

- Why have you thrown out

[2018-09-05 09:39] graahnul-grom commented on #225
* Yes, I think we should replace `edit-color`, `edit-linetype`, `edit-filltype` and `edit-pin-type` with new `object-properties` action.
* Frankly, I do like "Sidebar" name, too. But `Right Dock` and `Bottom Dock` names precisely describes what we have now: rigid docking widgets that cannot be configured in any way. And these menu items makes no sense when `use-docks` is set to `false`. Some time

[2018-09-05 10:28] graahnul-grom commented on #225
Some further modifications:

* rearrange some items
* add/remove `...` where appropriate
* add more separators
* move `Edit->Invoke Macro` => `File->Invoke Macro...`
* move `Edit->Show/Hide Inv Text` => `Attributes->Show/Hide Hidden Text`
* rename `Component Documentation...` => `Find Component Documentation`

[system-gschemrc_2.diff.txt](https://github.com/lepton-eda/lepton-eda/files/2352326/syst

[2018-09-07 05:12] graahnul-grom opened #250 "Connected graphicals in generated netlist"
`lepton-netlist` doesn't ignore `graphical` components if they are connected to nets. It happens with some backends (not all), notably, with `PCB` and `drc2`.

Test schematic (attached):
![netlist_graphicals](https://user-images.githubusercontent.com/26083750/45199369-ed7a5280-b273-11e8-9062-e799bd179413.png)

`C1` should not appear in resulting netlist, but it is:

`$ lepton-netlist -o - -g PCB n

[2018-09-09 05:47] #250 closed

[2018-10-12 10:37] graahnul-grom commented on #172
Testing PR #254: add sample schematics and `lepton-netlist` test script.

`issue172.sch`:

![issue172](https://user-images.githubusercontent.com/26083750/46863460-292eac00-ce20-11e8-8c77-1c182eb53d75.png)

`issue172_with_nc_newsym.sch`

![issue172_with_nc_newsym](https://user-images.githubusercontent.com/26083750/46863467-2df36000-ce20-11e8-824f-204aab665e9b.png)

`test_backends_pr254.sh`:

[code]

[2018-10-12 10:53] graahnul-grom commented on #172
`> test_backends_pr254.sh issue172.sch`

[code]

`> test_backends_pr254.sh issue172_with_nc_newsym.sch`

[code]

- in both cases: `geda` backend is supposed to output *all* nets
- in 4 backends `NC` symbol is not recognized

[2018-10-12 14:53] vzh commented on #172
@graahnul-grom, I don't understand, what's the issue with `unconnected' nets? The output is the same as it was before, because the schematic *issue172.sch* has not changed. It has no "nc" symbols.
Please, make it clear what's wrong with it?

[2018-10-12 16:33] graahnul-grom commented on #172
No issues with "unconnected", it's just for debugging.
'unnamed_net'  in the output is another matter.

[2018-10-13 10:44] graahnul-grom commented on #172
Those four backends are using `get-pins-nets()`; hence `unnamed_net` in their output.

`> git grep -l get-pins-nets netlist/scheme/gnet-*`

[code]

[2018-10-13 11:01] graahnul-grom commented on #172
Should we fix those backends?

[2018-10-13 11:45] graahnul-grom commented on #172
@vzh What do you think?

[gnet-systemc.scm.diff.txt](https://github.com/lepton-eda/lepton-eda/files/2475426/gnet-systemc.scm.diff.txt)
[gnet-vams.scm.diff.txt](https://github.com/lepton-eda/lepton-eda/files/2475427/gnet-vams.scm.diff.txt)
[gnet-verilog.scm.diff.txt](https://github.com/lepton-eda/lepton-eda/files/2475428/gnet-verilog.scm.diff.txt)
[gnet-vhdl.scm.diff.txt](https://github.com/lepton-

[2018-10-14 07:13] vzh commented on #172
@graahnul-grom, thank you for your investigation and fixes! The real issue here is that we have to fix each backend according to its specs. I don't know if we can get some feedback from our users, though. I know the people use verilog (and verilog ams - vams), not sure about vhdl, and systemc had never worked (it's my feeling based on my previous work). So each of the backends should be fixed sepa

[2018-10-14 10:04] graahnul-grom commented on #172
Since everything except aforementioned backends works, I think we can close this issue, PR #237 and merge #254.

[2018-10-15 11:35] #172 closed

[2018-10-23 19:09] graahnul-grom commented on #76
Do we intend to support Mac? If we don't, we should state that in `README` (and list supported systems/architectures there - Linux, BSD, Windows/Cygwin).
I have no access to any mac hardware, so I cannot help here.

FWIW, I found a similar bug on launchpad:
[gschem rendering issues on Mac OSX](https://bugs.launchpad.net/geda/+bug/1551985)

[2018-10-23 19:21] graahnul-grom commented on #44
Let's use my email here (in `.travis.yml`) and close the issue.
BTW, what does it mean:

Push what?

On [scan.coverity.com/projects/lepton-eda-lepton-eda](https://scan.coverity.com/projects/lepton-eda-lepton-eda) page I see "Last Analyzed Apr 14, 2017".

[2018-10-23 19:53] graahnul-grom commented on #104
@noqsi @vzh Although I agree with this, too, doing so right now will cause interoperability problems with `geda-gaf`. Schematics created in lepton
cannot be processed by that suite (`gschem` attributes with empty values
will be treated just like text, `gnetlist` will fail).
What about postponing the discussion and reopening the issue after
some major release?

[2018-10-25 10:56] vzh commented on #44
How does it help?
We have at least to configure an email alias on some email service that supports its creation (e.g. lepton-devs@some-server.org) and to somehow provide the devs with the info on it.

It means we have to merge new commits (e.g. the `master` branch) into `coverity_scan` to trigger the build and analysis.

Please re-check it. I've updated the `coverity_scan` branch.

[2018-10-25 11:10] vzh commented on #104
Nothing will prevent users to create attributes in backward compatible manner.

[2018-10-25 14:17] graahnul-grom commented on #104
Yes, but one have to always keep it in mind while working on schematics.
Allowing an empty values for attributes seems to me as something akin to file format change.

[2018-10-25 14:41] graahnul-grom commented on #44
Thank you for the explanation!
According to that analysis, `lepton-attrib` is the most dangerous program in the suite. :)
I don't know, is it worth it, but couldn't we contact DJ and ask him to create email for us on his server? Otherwise, I have no idea where can we get one.

[2018-11-19 14:32] graahnul-grom commented on #225
@vzh I'll add a PR, though it would be hard to split it up.

Updated menu:
  - system-gschemrc: [system-gschemrc.txt](https://github.com/lepton-eda/lepton-eda/files/2595634/system-gschemrc.txt)
  - diff: [system-gschemrc_3.diff.txt](https://github.com/lepton-eda/lepton-eda/files/2595637/system-gschemrc_3.diff.txt)
  - screenshots (left - old, right - new):

![1_menu_file_old_new](https://user-imag

[2018-11-21 18:00] vzh commented on #105
A suggestion by _Karl Hammar_ on **geda-user**:
<quote>
One way to handle the issue of separator is to let the first char after
the "=" be the separator and perhaps terminator. Example:
[code]
The last one also depends on the #oflines in the T-line I guess.
</quote>

[2018-11-29 16:58] vzh commented on #225
For some reason, #281 did not automatically close the issue, so I do it manually.

[2018-11-29 16:58] #225 closed

[2018-12-02 13:05] graahnul-grom opened #284 "Improve documentation"
1) Most of the `README` file content should be moved to
a new `INSTALL` file. This file should also include a link
to the `Lepton EDA and Cygwin` wiki page.
2) `README` should be extended to provide more information
about the `Lepton EDA` suite:
  - it was forked by main `geda-gaf` developers
  - it is compatible with (and direct replacement for) `geda-gaf`
  - list of new features: link to `NEWS`

[2018-12-02 14:53] graahnul-grom opened #285 "lepton-schematic documentation search path"
Choosing one of the documentation items
from the `Help` menu triggers the Scheme code in [gschemdoc.scm](https://github.com/lepton-eda/lepton-eda/blob/master/schematic/scheme/gschem/gschemdoc.scm).

That code tries to guess where lepton-eda docs are installed
and sometimes it fails to do that. For example, on Ubuntu
18.04 I got this error:
[code]

This is due to a bug in `guess-docdir()` function

[2018-12-02 17:05] graahnul-grom opened #286 "Help menu items may block lepton-schematic GUI"
On UNIX systems with no `gvfs` installed, `g_spawn_sync()` (`src/x_misc.c`)
is used to launch documentation viewer (usually `xdg-open`
which in turn opens the web browser).
In some environments, `xdg-open` may not return control
until the web browser is closed, which leads to blocking
of `lepton-schematic` GUI.
This is the case on `FreeBSD` with `openbox` window manager.

[2018-12-10 16:57] #286 closed

[2018-12-18 10:04] graahnul-grom commented on #284
One more item to add to the `README` file:
- `lepton-eda` can easily be extended through the rich (and very well documented) `Scheme` API (`GNU Guile`).

I'd also consider adding `guile` to the list of "topics" (keywords shown at the top of the `github` repo page).

[2018-12-18 15:56] vzh opened #299 "Attribute parameter substitution patches"
(This is launchpad bug https://bugs.launchpad.net/geda/+bug/911440)

Stephan Böttcher writes:

He continues:

[2018-12-18 16:54] vzh commented on #284
I've added `guile`, as well as `c` and `geda` to the topic list.

[2018-12-18 20:04] noqsi opened #300 "Trouble building developer docs"
I can't get the developer documentation to build for lepton-eda-1.9.7 on Ubuntu Xenial. LaTeX emits a thousand errors and finally gives up.

[untitled.txt](https://github.com/lepton-eda/lepton-eda/files/2692091/untitled.txt)

[2018-12-19 10:37] graahnul-grom commented on #300
@noqsi Thank you for the report. I cannot generate the latex output on ubuntu (18.04, "bionic"), too. However, html output is fine. For a quick fix please try the attached patch.
What it does:
- disables generation of latex output files
- excludes `netlist` and `symcheck` subdirs: these tools were rewritten in `Scheme`; AFAIK doxygen doesn't support that language

[doxy_ubu1804.diff.txt](https://g

[2018-12-21 15:00] noqsi commented on #300
This seems to work. Thanks.

[2018-12-21 15:10] noqsi opened #306 "Segfault from old gafrc"
In Lepton 1.9.7 on Ubuntu Xenial, I get a segfault if gafrc has the line:

(always-promote-attributes "refdes")

I realize that this has been a deprecated construction for some time (wants a list, not a bare string), but it shouldn't segfault.

[2018-12-21 16:15] graahnul-grom commented on #306
[code]

Thank you, John!

[2018-12-21 17:06] vzh commented on #306
@noqsi, please check if the suggested patch fixes the error.

[2018-12-21 18:00] noqsi commented on #306
It fixes the error I saw, with a deprecation warning in the log. On the other hand, it's still possible to provoke a segfault. I tried some other cases:

(always-promote-attributes )
Displays error, continues.

(always-promote-attributes 0)
Displays error, segfaults.

(always-promote-attributes #f)
Displays error, segfaults.

(always-promote-attributes '())
No error.

(always-promote-attributes ()

[2018-12-22 12:41] #306 closed

[2018-12-23 12:10] vzh commented on #306
@noqsi Thank you!
One note about our current commit policy:
Please use the *rebase and merge* option next time you merge something,  (or rebase, if needed, and fast-forward merge, if you won't use github's web-interface) to not pollute the git log history with unnecessary commits and branches.
(And I'm looking forward for committing your backends into lepton :-) I've not found time myself yet :-/)

[2019-01-03 11:39] #300 closed

[2019-01-10 21:46] graahnul-grom opened #314 "Locked component's attributes"
1. When a component object is locked in `lepton-schematic`, all of its attributes are also locked; however, when the schematic file is loaded next time, a component remains locked, but its attributes are not.

`=>` They should also be locked.

2. If a component and its attributes are locked, to fully unlock it one have to select (by the bounding box) not only a component itself, but also all visib

[2019-01-11 00:12] graahnul-grom commented on #314
Update:
3. If we about to implement # 2 above, we should also do the same with `lock`
operation, for consistency: lock all attributes of currently selected component,
even if it have some of its attributes not selected.

[2019-01-11 18:18] vzh commented on #99
Two thoughts:
- we could use another (and unique) file extension to distinguish our files from others. Say, `.lsch`.
- OTOH, what's bad if people looking for KiCAD find our EDA suite?

BTW, the first link doesn't work, something has changed since the report time.

I suggest to close the issue.
Opinions?

[2019-01-11 19:22] graahnul-grom commented on #99
It has changed from "KiCad Schematic" to "KiCad Layout"

[2019-01-11 19:34] graahnul-grom commented on #99
I think we should change it when we depart enough from the `geda-gaf` (e.g. when we change the file format).

[2019-01-11 19:39] graahnul-grom commented on #99
Indeed. IMHO, nothing to worry about. There's a color bar at the top of the repo page,
and "KiCad Layout" isn't there, at least.

[2019-01-13 09:15] vzh commented on #99
Found it: `https://github.com/lepton-eda/lepton-eda/search?&q=language:"KiCad Schematic"`

OK, I close the issue.

[2019-01-13 09:15] #99 closed

[2019-01-17 13:45] #314 closed

[2019-02-10 12:38] #285 closed

[2019-03-18 22:57] domichel opened #358 "Build fail with o_net.c:175:36: error: ‘current_rules’ may be used uninitialized"
On a gentoo system with gcc-8.2.0, the last git code for lepton-eda fail to build with
`make[4]: Entering directory '/var/tmp/portage/sci-electronics/lepton-eda-9999/work/lepton-eda-9999/schematic/src'

...snip...
[code]

[2019-03-19 10:21] vzh commented on #358
Hi @domichel,
Strange, while on Debian, I cannot reproduce this neither with gcc 6.3, nor with gcc 8.3. I tried to use `-Werror=maybe-uninitialized`, as is seen in your report, either, with no effect.
Could you provide us with your gcc default options, please (`gcc -Q -v somefile.c`)?

[2019-03-19 10:27] vzh commented on #358
BTW, you could try the patch as follows:
[code]
Though I'm not sure it works and even if so, that you won't have likewise issues somewhere else.

[2019-03-19 12:52] domichel commented on #358
Hi vzh
`# gcc -Q -v somefile.c
gcc: error: somefile.c: No such file or directory
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-pc-linux-gnu/8.2.0/lto-wrapper
Target: x86_64-pc-linux-gnu
Configured with: /var/tmp/notmpfs/portage/sys-devel/gcc-8.2.0-r6/work/gcc-8.2.0/configure --host=x86_64-pc-linux-gnu --build=x86_64-pc-linux-gnu --prefix=/usr --bindir=/usr/x86_6

[2019-03-19 12:59] domichel commented on #358
Thank you.

BTW, about the python dependency, does lepton need it only during the installation, or also at runtime?
I am making an ebuild (I like when portage is able to manage my installed software), it I need to know it in order to follow the gentoo policies into that ebuild.

[2019-03-19 13:42] domichel commented on #358
I am impressed, because gschem was unusable for me from the time they introduced the side dock, which imply I am still using gEDA-1.8.2 . With lepton, it is very slow the first time I click on a component, but after that, the speed of use is quite decent and I can shift the side dock on and off without problem. Very nice work, thank you!

[2019-03-19 15:45] vzh commented on #358
OK, thanks for the report!

For now there exist two utils written in Python in the repo, `lepton-archive` and `lepton-tragesym`.

[2019-03-19 16:00] graahnul-grom commented on #358
Can't reproduce it (gcc 8.3.0, FreeBSD).

@domichel Thank you. I had exactly the same problem: cannot use `gschem` after the docking widgets were introduced. That was solved in #135. As for the slow first startup, there's the solution (#339) to this problem, we are just discussing it. It would be interesting to hear you opinion on that subject, too.

[2019-03-19 19:56] #358 closed

[2019-03-21 12:09] domichel opened #360 "No valid main category into the desktop files."
lepton-eda provide 2 desktop files in /usr/share/applications and they don't provide any valid main category. As example:

`# cat  /usr/share/applications/lepton-schematic.desktop

[Desktop Entry]
Version=1.0
GenericName=lepton-schematic
Name=Lepton EDA Schematic Editor
Comment=Create and edit electrical schematics and symbols with lepton-schematic
Type=Application
Exec=lepton-schematic %F
Icon=le

[2019-03-21 13:00] domichel commented on #360
I just constated that the Science category was an additional category in the past, and is now a main cat. In my system, I just modified fvwm-crystal to be aware of that, and "Categories=Science;Engineering;Electronics;" work fine now. But it still doesn't work with xfce, which imply xfce is not up to date with that situation. That imply it would be best to use 2 main cats, like:
"Categories=Scienc

[2019-03-21 13:59] domichel commented on #360
Last, I would prefer to have something like
"Categories=<MainCat>;Electronics;Engineering;"
because the first additional category will get priority, and I prefer to get on my electronics related apps into the same submenu, so that they don't get mixed with other engineering tasks. But this is a detail that is not very important, I can always change my application menu.
In fact, I am not even sure

[2019-03-21 18:46] vzh commented on #360
So, probably the best variant from the above is `Categories=Development;Electronics;Engineering;`, right?

[2019-03-21 20:55] domichel commented on #360
Yep, I agree fully!

[2019-03-25 07:39] #360 closed

[2019-04-05 12:43] graahnul-grom opened #367 "lepton-schlas fails to link with llvm linker"
As the maintainer of the `cad/lepton-eda` `FreeBSD` port,
recently I started receiving email messages like these:
[[package - head-amd64-default][cad/lepton-eda] Failed for lepton-eda-1.9.7 in build](https://lists.freebsd.org/pipermail/freebsd-pkg-fallout/Week-of-Mon-20190401/1205958.html)
[[package - head-i386-default][cad/lepton-eda] Failed for lepton-eda-1.9.7 in build](https://lists.freebsd.or

[2019-04-06 06:33] graahnul-grom opened #369 "Reasonable defaults"
After more than two years of collective effort that was put
into making it better, `Lepton EDA` has become quite different
compared to what it was forked from.
However, it's hard to spot the difference at a glance:
almost all new features are disabled by default
(as if we so shy to show them) and, on the other hand,
old, obsolete settings are retained.
Before making a new release I propose to chan

[2019-04-09 16:34] #367 closed

[2019-04-16 09:19] graahnul-grom commented on #143
Launching `netlist -g geda -o - common/netattrib.sch` gives the following
errors, prefixed by
`"** (process:< PID here>): CRITICAL **: < system time here >: "`

[code]

[2019-04-16 09:21] graahnul-grom commented on #143
@vzh Why "sometimes" in the title?

[2019-04-16 16:00] graahnul-grom commented on #369
@bdale Does `pcb-rnd` do panning with the middle mouse button? And what are you struggling with when working with `lepton-schematic`/`pcb-rnd` most?
About symbols: I do not use stock symbol library, too. The above changes targeted mostly at new users of `Lepton EDA`. The point here is that it's easier to change value of the provided attribute, than to add a new one (in addition, new attributes are

[2019-04-16 16:53] graahnul-grom opened #376 "Attributes->Detach is useless"
`attributes-detach` just strips the selected objects of ALL their attributes (visible and invisible, selected or not). That's all. This nonsense is there since at least `gschem 1.8.0`.

The reasonable behavior would be something like this:
- detach only selected attributes from their respective  parent objects
- do not require object to be selected (attributes can be attached to one object only, a

[2019-04-18 00:35] bdale commented on #369
Yes, pcb-rnd does panning with middle mouse button.  I'm sure it's configurable, but to regain my sanity, at some point I guess I'll have to decide what I like best and configure some set of command keyboard accelerators that both tools understand...

[2019-04-18 10:18] graahnul-grom commented on #369
@bdale Addressing the same problem wrt sanity, long ago I decided to not use
standard keyboard shortcuts in both schematic and layout editors, but to develop
a set of my own keybindings for the most frequently used commands.
Though it took quite some time and effort (and I'm still changing things from time
to time), I'm rather comfortable with the result.
There are some intersections (e.g. "show l

[2019-04-26 16:24] vzh commented on #143
@graahnul-grom, well, if the word "sometimes" is confusing here, probably "in some cases" would be better?

[2019-04-26 17:42] graahnul-grom commented on #143
@vzh It's not about wording, I'm asking because whenever I run this command (and on various systems), it always produces the output shown above. In what cases it gives a different result?

[2019-04-30 17:14] graahnul-grom opened #382 "Warnings about missing *.conf files should be disabled by default"
Even if there are no `geda.conf`, `geda-user.conf` or
`geda-system.conf` files, all tools behaves properly, because
the default values for all configuration parameters are used.
There is no point in reminding the end user every time about
these (missing) configuration files.
Since introduction of the `Netlist` menu in `lepton-schematic`,
these warnings start to appear in its log, too, bringing in

[2019-05-03 17:18] graahnul-grom opened #384 "Edit->Embed does not update page manager"
Though after successful `Edit->Embed` (and `Edit->Unembed`) operation
the page is in the "changed" state, it does not reflected in the page manager
and in the window's title.

[2019-05-05 13:48] vzh commented on #143
OK, the reason I'd written this was using of different approaches in **`gnetlist`** and its backends for working with attributes in many *various* places.  Since then, several things have changed.  My intention, when writing of this issue, was to standardize what attribs should be used for netlisting. You could remember or look through the commit history that I added new tests to show what issues

[2019-05-05 16:04] vzh commented on #382
I agree with you here. There's no point to store many same config settings in several places. And our program is not a network service to choose many special settings for different situations. Besides, some (many?) large projects have great configure possibilities with robust defaults and little configuration files. Hope you'll make this Lepton side better, too :-)

[2019-05-10 10:10] #384 closed

[2019-05-12 20:08] #382 closed

[2019-05-19 17:54] graahnul-grom commented on #369
@vzh Could you please express your opinion of the proposed changes?
I'm going to start changing the defaults, if you don't mind.

[2019-05-19 19:30] graahnul-grom commented on #284
I think it's also worth installing the Scheme API reference manual HTML files.
We already installing HTML man page, so why not?

[2019-05-20 19:46] vzh commented on #369
Not sure about 5. I'm used to default mouse settings.

Wrt 10, I would not remove the symbols, several people reported
they work with them.  I would prefer moving them to some other
place for now.  If we rename the symbols, the names should be
short, otherwise they would look ugly.

Wrt 11, I disagree with changing symbols without bumping
symversion=. At least the minor version should change.  I b

[2019-05-20 19:52] vzh commented on #284
Agreed. While I myself like plain info documentation, some users could prefer HTML.

[2019-05-21 16:03] graahnul-grom commented on #369
they work with them. I would prefer moving them to some other
place for now.

Another thought: could we modify `component-library-search` to make it skip those directories?
If we about to move them, what name of directory do you think should be (I proposed `sym-misc/` above)?

[2019-05-21 17:47] vzh commented on #369
I don't think it's a good idea to skip arbitrary directories. I'd suggest another approach to resolve this issue:
- add a set of attributes which could uniquely (well, in most cases) determine what library they belong to, and process them as `symversion=` is processed now. E.g., `author=vzh`, `library-name=verilog`, `library-version=1.0`. As a first-shot approach, this `library-name=` might be the

[2019-05-23 13:50] graahnul-grom commented on #369
I forgot about the controversial `undo-panzoom` `gschemrc` option:
It should be disabled by default, too, I believe. I wouldn't surprise new users with such exotic features.

There are related discussions on gitter (April, 2017), in #114, #117

[2019-05-27 05:37] vzh commented on #369
Agreed.

[2019-05-28 13:14] graahnul-grom opened #415 "Deprecate unused gschemrc options"
The following settings should be removed and declared in
[`geda-deprecated-config.scm`](https://github.com/lepton-eda/lepton-eda/blob/master/liblepton/scheme/geda-deprecated-config.scm)
as `define-rc-dead-config`:

1. [`raise-dialog-boxes-on-expose`](https://github.com/lepton-eda/lepton-eda/blob/8c3feedbaac35fc93788101f7e78f553bedf3a1c/schematic/scheme/conf/schematic/options.scm#L212):
This was ad

[2019-05-30 09:28] #415 closed

[2019-05-31 09:27] graahnul-grom opened #419 "Remove deprecated export functions and options"
Exporting with `scripts/image.scm` and `scripts/print.scm`
`lepton-schematic` scripts is deprecated since 2012 (git: 626a205).
We have enough tools to perform schematic export:
`File->Write Image...` dialog in `lepton-schematic`
and `lepton-cli export`.

The following should be deleted:
- `image-color` `gschemrc` option
- `image-size` `gschemrc` option (absent in `conf/schematic/options.scm`)
- `g

[2019-05-31 15:57] graahnul-grom opened #420 "net-selection-mode does not distinguish between "enabled_net" and "enabled_all""
`lepton-schematic` does not behave differently when `net-selection-mode`
`gschemrc` option is set to`"enabled_net"` or `"enabled_all"`.
Checks preformed in `lepton-schematic` code assumes that it's a boolean.
So, it's either enabled or disabled.
I have no idea about what `"enabled_all"` is supposed to do. When converting
settings to new configuration system, I propose to make this parameter a bool

[2019-06-01 14:50] graahnul-grom opened #423 "Migrate gschemrc settings to new configuration system"
Options currently defined in `conf/schematic/options.scm`
should be migrated to new configuration system.

- Define them using `define-rc-deprecated-config`
- Add new-style configuration settings:
  - Name keys after the corresponding `RC` function names
  - Place keys in the following groups:
    - `[schematic.gui]`
    - `[schematic.undo]`
    - new group `[schematic]`: all other keys (i.e. not

[2019-06-04 07:21] graahnul-grom opened #427 "Log files should not be stored in the user's configuration directory"
Although we have log rotation implemented, log directory may contain
hundreds of files from all tools in the suite.
User's configuration directory (which may be under source control)
is not the right place for log files, they should go to some temporary location.
`$XDG_CACHE_HOME/lepton-eda/logs/` would be more appropriate.
We could also make it configurable.

[2019-06-04 19:07] vzh commented on #427
Good catch, thanks!

[2019-06-04 19:07] #427 closed

[2019-06-04 19:21] vzh commented on #419
In my view, it'd be very nice if we still had guile functions for exporting pdf and images available for using in Scheme scripts.

[2019-06-05 11:36] graahnul-grom commented on #419
Agree, it would be useful.
We could add such functions (later), e.g. something like `(schematic export)` module.
But current implementation is not satisfactory, and if you don't mind, I will remove it.

[2019-06-09 08:22] #419 closed

[2019-06-09 18:23] vzh commented on #420
`o_select_connected_nets()` can shed some light on this. As I understand the idea, `enabled_all` allowed selecting all nets with a netname of the net selected first: first click selects a net, second click selects all nets directly connected to it, and the third click selects not directly connected nets having the same netname as for the first group. Dunno, if it ever worked so, though I would lik

[2019-06-10 17:01] graahnul-grom commented on #423
What this option is supposed to do? The description says that it
`Controls if the editing grips are drawn when selecting objects.`

However, setting it to "disabled" does not change how anything is drawn.
The only "effect" is that it disables ALL resize operations, so you cannot
change size of nets, buses, boxes, lines, etc.

[2019-06-12 20:47] vzh commented on #423
It should be other way around and seems to be a bug. It should prevent rendering of rectangular grips without disallowing any resize actions.

[2019-06-13 10:37] graahnul-grom opened #433 "No icons in hotkeys dialog"
Since 442e595 ("Fix define-action syntax...") there are no icons
nor action strings in the hotkeys dialog.

![hotkeys_dlg_442e595](https://user-images.githubusercontent.com/26083750/59425486-b62a6a80-8dde-11e9-8ddb-47ba285379f8.png)

hotkeys dialog in 1.9.7 release:

![hotkeys_dlg_197](https://user-images.githubusercontent.com/26083750/59425521-c8a4a400-8dde-11e9-9b4a-aa355c757b88.png)

Curiously,

[2019-06-13 19:09] graahnul-grom commented on #423
The same with `geda-gaf` `1.8.2` and `1.9.2`, except that in `1.8.2` grips are not drawn.

[2019-06-15 10:45] graahnul-grom commented on #423
If it doesn't work, `draw-grips` option should be deleted.
It's safe, since nobody has ever used it (no bug reports, nor
questions on the mailing lists).
Later, when we'll fix the behavior (as I can see, it's far from trivial),
appropriate configuration parameter could be easily added.

[2019-06-18 14:12] graahnul-grom commented on #423
@vzh What about removing the `draw-grips` option (`define-rc-dead-config`)?

[2019-06-18 18:14] vzh commented on #423
I'm OK with this (never used it, too).

[2019-06-20 11:22] graahnul-grom commented on #420
Indeed, the third click selects all nets having equal "netname" attributes.
There is `w_current->net_selection_state` that is examined in `o_select_connected_nets()`.
@vzh Please check if it works on your system, then the issue could be closed.

[2019-06-20 13:57] vzh commented on #420
Ha! It's amazing why I couldn't reproduce it at home :-) I suggest to fix the description of the option in `options.scm` before closing the issue. OK?

[2019-06-20 15:16] graahnul-grom commented on #420
Yes, the description given there is absolutely inadequate.

[2019-06-20 18:13] #420 closed

[2019-06-21 17:45] #376 closed

[2019-06-21 17:46] #433 closed

[2019-06-26 12:51] graahnul-grom commented on #369
13.  Mouse buttons assignment indicators should not be shown by default.
Such assignments usually done only once (using
appropriate `gschemrc` options), and there
is no point in displaying these static strings,
cluttering the status bar.

[2019-07-01 10:06] danfe opened #440 "utils/scripts/lepton-archive.py is incompatible with Python 3.x"
Its shebang line specifies `/usr/bin/env python` (versionless), which these days defaults to Python 3.x in most GNU and BSD distributions.  Consequently, the script does not work as is:

 - Because of `print Usage` (should be a function call)
 - Using deprecated `commands` module (removed in 3.x)
 - `raw_input()` was renamed to `input()`

There might be more, but fixing these allows the script at

[2019-07-01 16:32] vzh commented on #440
Well, the script is pretty obsolete and I wanted to rewrite it in Scheme to take the opportunity of using our new functions instead of parsing sch files as the users/devs did for many years.
However (since I'm not sure if the work I started would be ever finished ;-) taking into account how many other things we have to do), if you know how to fix that, any fixes are welcome and will do into the ne

[2019-07-01 17:21] danfe commented on #440
I'm looping @graahnul-grom in since he's the maintainer of the FreeBSD port, had also reported some problems with Guile 2.2, and seems to be quite active here.  (This does not mean I'm trying to walk away from the issue, and would gladly provide any help, tests, and patches.)

[2019-07-02 09:40] graahnul-grom commented on #440
@danfe I've [fixed](https://github.com/graahnul-grom/freebsd-lepton-eda/compare/guile22) the FreeBSD port: now it uses `lang/python27` and works with guile 2.2.
However, today I have no access to [bugzilla](https://bugs.freebsd.org/bugzilla/) site,
it reports "Error 503 Backend fetch failed" error, so I'm attaching the patch here.

[lepton-eda.diff.txt](https://github.com/lepton-eda/lepton-eda/fil

[2019-07-02 13:31] danfe commented on #440
Yes, some FreeBSD internal services are currently broken (not just Bugzilla, svnweb as well).  It's OK, I'll handle the patch from here.

[2019-07-02 15:51] danfe commented on #440
Committed as [r505685](https://svnweb.freebsd.org/ports?view=revision&revision=505685), thank you!

[2019-07-02 18:01] graahnul-grom commented on #440
@danfe Thank you!

[2019-07-09 10:11] graahnul-grom commented on #440
Could we move `lepton-archive` and `lepton-tragesym` to `contrib/`,
eliminating dependency on python?

[2019-07-14 09:01] vzh commented on #440
We could, however I would like to have the like functionality anyway amongst our tools.  Besides, the dependency on python is not strong, the same as on, say, perl. Maintainers of distribution packages could drop it or make it something like "recommended" or "suggested" (in terms of Debian).

[2019-07-14 19:13] danfe commented on #440
Or, perhaps, if you wanted to rewrite it in Scheme to take the opportunity of the new functions instead of parsing `*.sch` files, it's the best time to do so. :-)

[2019-07-15 17:36] craignied opened #446 "Homebrew on OSX: error: GIO 2.38.0 or later is required"
Compiling with Homebrew on OSX:

checking for gio-2.0 >= 2.38.0... no
configure: error: GIO 2.38.0 or later is required.

GIO isn't a module that I can find on Homebrew. Is it part of something else?

Thanks in advance

[2019-07-15 17:54] graahnul-grom commented on #446
@craignied Thank you for reporting this. `GIO` is a part of `glib`. We recently
bumped minimum required version of `glib` to 2.38.0. Do you have the `glib`
package installed?

[2019-07-15 18:01] craignied commented on #446
I have glib 2.60.5 installed:

brew info glib
glib: stable 2.60.5 (bottled)
Core application library for C
https://developer.gnome.org/glib/
/usr/local/Cellar/glib/2.60.5 (429 files, 15.2MB) *
  Poured from bottle on 2019-07-13 at 20:19:37
From: https://github.com/Homebrew/homebrew-core/blob/master/Formula/glib.rb
==> Dependencies
Build: meson ✘, ninja ✘, pkg-config ✔
Required: gettext ✔, libffi ✔

[2019-07-15 18:12] graahnul-grom commented on #446
Could you please try the following command:
[code]

[2019-07-15 18:24] craignied commented on #446
Still getting

checking for gio-2.0 >= 2.38.0... no
configure: error: GIO 2.38.0 or later is required.

[2019-07-15 19:23] graahnul-grom commented on #446
What is exactly the `./configure` command line you are using?
It would be helpful if you attach the full output of `./configure`
and the generated `config.log` file.
You could also try to disable the `GIO` check (just comment out two lines in `configure.ac`):
[code]

[gio_off.diff.txt](https://github.com/lepton-eda/lepton-eda/files/3393830/gio_off.diff.txt)

[2019-07-15 19:27] craignied commented on #446
`./configure
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... build-tools/install-sh -c -d
checking for gawk... no
checking for mawk... no
checking for nawk... no
checking for awk... awk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
checking whethe

[2019-07-15 19:27] craignied commented on #446
./configure
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... build-tools/install-sh -c -d
checking for gawk... no
checking for mawk... no
checking for nawk... no
checking for awk... awk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
checking whether

[2019-07-15 19:34] craignied commented on #446
Commented out gio, and now it's not finding gtk:
...
checking for glib-2.0 >= 2.38.0... yes
checking for gtk+-2.0 >= 2.24.0... no
configure: error: GTK+ 2.24.0 or later is required.

brew info gtk
gtk+: stable 2.24.32 (bottled), HEAD
GUI toolkit
https://gtk.org/
/usr/local/Cellar/gtk+/2.24.32_3 (1,194 files, 59.9MB) *
  Poured from bottle on 2019-07-13 at 20:21:43
From: https://github.com/Homebrew

[2019-07-15 19:45] graahnul-grom commented on #446
Let's start from scratch:
1) `cd` to `lepton-eda` source directory
2) `git clean -x -f -d`
3) comment out `GIO` check in `configure.ac`
4) `./autogen.sh`
5) `./configure`

If it fails, please attach the `config.log` file.

[2019-07-15 20:00] craignied commented on #446
Scratch is the same as above 😊

[config.log](https://github.com/lepton-eda/lepton-eda/files/3393973/config.log)

[2019-07-15 20:04] graahnul-grom commented on #446
:) Please install `libffi` and try again.

[2019-07-15 20:31] graahnul-grom commented on #446
@craignied I found [this thread](https://github.com/otrv4/pidgin-otrng/issues/104#issuecomment-511144582) where a similar problem with `GTK` (actually, with`libffi`) is discussed.
Please check the `brew info libffi` output. You may need to set `$PKG_CONFIG_PATH` environment variable.

[2019-07-15 20:36] graahnul-grom commented on #446
In the issue mentioned above they got exactly the same message I see in the `config.log`:
[code]

[2019-07-15 22:34] craignied commented on #446
We've moved forward! I had libffi installed, but I set:

export LDFLAGS="-L/usr/local/opt/libffi/lib"
export PKG_CONFIG_PATH="/usr/local/opt/libffi/lib/pkgconfig"

./configure
Threw this error:

configure: error: The update-desktop-database tool could not be found. Ensure it is
installed and in your path, or configure with
--disable-update-xdg-database.

I poked around and couldn't figure out how

[2019-07-16 03:31] vzh commented on #446
I've just googled for **makeinfo unrecognized encoding name**. The very first link is [this](https://github.com/xiaohanyu/oh-my-emacs/issues/85). Could it be of any help? Especially the advice to use `brew link texinfo --force`?

[2019-07-16 05:49] graahnul-grom commented on #446
installed and in your path, or configure with --disable-update-xdg-database

`brew install desktop-file-utils`

[2019-07-16 12:28] craignied commented on #446
@vzh thanks, I had done that previously.
@graahnul-grom thanks super, it now compiles completely. I'm still getting errors with make, though. I've attached the output of make. Could the commented out GIO be the problem?
[makelog.txt](https://github.com/lepton-eda/lepton-eda/files/3396996/makelog.txt)

[2019-07-16 13:50] craignied commented on #446
I figured out how to get rid of all the Warning: Failed to set locale category LC_...s with
export LC_ALL=en_US.UTF-8

So this is a little cleaner make log
[make.log](https://github.com/lepton-eda/lepton-eda/files/3397362/make.log)

Essentially it's failing with:
[code]
Thoughts?

[2019-07-16 19:17] vzh commented on #446
Googling it a bit, I found that the option `--css-ref` is available in `makeinfo` at least since version 4.13. First you have to make sure your `makeinfo` supports the option.  If it's outdated, you need to update it.

[2019-07-16 20:47] graahnul-grom commented on #446
@craignied You're almost there. Don't let the issue with `makeinfo` get in the way:
please revert [this commit](https://github.com/lepton-eda/lepton-eda/commit/381c17be949077ce8301427eaa5079bab646e003).
[code]

[2019-07-17 12:02] craignied commented on #446
Thanks @graahnul-grom!

Do you know why this might be happening:

[2019-07-17 14:05] graahnul-grom commented on #446
Just delete all, but the first line ("info_TEXINFOS = lepton-scheme.texi") from
`docs/scheme-api/Makefile.am`, then do `git commit`. The commit message
will look like `Revert "docs/scheme-api: Add CSS file for HTML output."`

[2019-07-17 19:22] craignied commented on #446
It did make without error,  @graahnul-grom! Woot! OK, big question: coming from geda-gaf, is there a place to learn about functionality? Like, are the names of the commands different, and are the commands themselves different?

Many thanks for your help!

[2019-07-17 22:56] craignied commented on #446
I have my first bug report! I was trying to open an old schematic, when it crashed with:
Assertion failed: (s->stack->next != NULL), function CGGStackRestore, file /BuildRoot/Library/Caches/com.apple.xbs/Sources/CoreGraphics/CoreGraphics-1260.2/CoreGraphics/Context/CGGStack.c, line 77.
[1]    24347 abort      lepton-schematic

[2019-07-20 19:38] graahnul-grom commented on #446
@craignied Thank you, congratulations on getting through the configure and make.
Could this bug be related to already reported crash in #76?
What version of mac os you are using?

[2019-07-20 21:54] vzh commented on #446
@craignied, could you please answer a couple of questions:
- are you able to work on new schematics with `lepton-schematic` at all?
- could you provide us with the schematic that triggers the crash, even with some restricted variant, to let the members of the project who uses macs to check what's wrong.

And, since that seems to be another issue (is it? do the tools work on your system at all?), p

[2019-07-21 09:21] graahnul-grom commented on #446
Yes, since this issue is about *building* lepton on OSX, it's better to move the run-time
problem to a new issue. However, we didn't address the `GIO` and `makeinfo`
issues yet.

[2019-07-21 10:11] graahnul-grom commented on #446
`GIO` check was added to `configure.ac` in commit 1b78564 in response to
launchpad.net bug report [1258217: gschem >1.7.2 won't build in Cygwin](https://bugs.launchpad.net/geda/+bug/1258217).
In the comment #5 there it was suggested that simply adding `$(GIO_LIBS)` to
`liblepton/src/Makefile.am` is enough.
I'll try to check it with `cygwin`.

[2019-07-21 15:03] graahnul-grom commented on #446
I've managed to build `lepton-eda` on `cygwin` (`windows 7` x64 in `virtualbox`,
`guile 2.0`) both with and without `GIO` check.

[2019-07-21 16:27] graahnul-grom commented on #446
According to various web search results, the run-time bug is related to `cairo`
rendering code.
@craignied Could you please try to export some schematics to `png` and `svg`
formats using `lepton-cli export`? Will it crash, to? It would be helpful if you can
obtain a back-trace (there should be crash log files in
`~/Library/Logs/DiagnosticReports/` on `OSX`, IIUC).

[2019-09-25 01:29] tomdean1939 opened #454 "lepton-netlist -h fails"
Ubuntu 18.04
up-to-date sources
configure, compile and install with no errors
Anything I try with lepton-netlist

;;; note: auto-compilation is enabled, set GUILE_AUTO_COMPILE=0
;;;       or pass the --no-auto-compile argument to disable.
;;; compiling /usr/local/share/lepton-eda/scheme/lepton/rc.scm
;;; WARNING: compilation of /usr/local/share/lepton-eda/scheme/lepton/rc.scm failed:
;;; Wrong typ

[2019-09-25 08:11] vzh commented on #454
Please show us the output of the commands as follows:
[code]

As a rule of thumb, you have to have the same versions of guile binary and its development version installed.  After it is setup correctly, please remove your guile cached precompiled *go* files, that is, do `rm -rf ~/.cache/guile/ccache/`.

[2019-09-25 22:55] tomdean1939 commented on #454
p9x79> rm -Rf ~/.cache/guile/ccache/
p9x79> guile --version
guile (GNU Guile) 2.2.3
Packaged by Debian (2.2.3-deb+1-3ubuntu0.1)
Copyright (C) 2017 Free Software Foundation, Inc.

License LGPLv3+: GNU LGPL 3 or later <http://gnu.org/licenses/lgpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
p9x79> apt-cache policy gu

[2019-09-26 04:20] vzh commented on #454
So, as you can see, your working `guile` version is 2.2. However, you've installed `guile-2.0-dev` and that devel package is used to build the underlying C code. guile 2.0 and guile 2.2 are different enough and not compatible.  Please do as follows:
- uninstall the `guile-2.0-dev` package
- install `guile-2.2-dev` instead
- remove the guile cache as you did before
- recompile and install lepton
-

[2019-09-26 05:16] tomdean1939 commented on #454
On 9/25/19 9:20 PM, Vladimir Zhbanov wrote:

This solved the problem.

I think guile-2.0-dev was installed for some other reason???

Is it possible for configure to catch this?

Thanks,
Tom Dean

[2019-09-26 09:15] vzh commented on #454
Is it possible for configure to catch this?

`-dev` packages are usually installed by the users who want to build something themselves.   They contain C headers (*.h* files) and such.  Probably, you've installed it to build some program dependent on guile (`geda-gaf`?). Anything would work if your guile binary had the same version (Debian derived distributions have `update-alternatives` to opt a m

[2019-09-26 09:15] #454 closed

[2019-09-26 14:26] vzh commented on #440
@danfe, Is the original issue solved?  I want to close it.

[2019-09-26 20:01] graahnul-grom commented on #440
The issue with python pseudo-programming language still persists.
Though I made the port depends on version 2.7, there are another questions.
py 2.7 announced eol. distro makers follows.
there are [bug reports](https://bugs.debian.org/cgi-bin/pkgreport.cgi?src=lepton-eda) about that.
Comrade Ahmed comes to the rescue again - here: https://bugs.launchpad.net/geda/+bug/1842509.  It means switching t

[2019-09-30 09:44] danfe commented on #440
I agree.  Even though _technically_ it was "fixed" for the moment by hardwiring to Python 2.x, it should be either made Python 3.x friendly (because 2.7 is being phased out), or rewritten in Scheme as mentioned earlier.

[2019-09-30 18:59] tomdean1939 opened #463 "Configuration Can Not Check -dev or -devel Packages"
Configuration can not determine if the corresponding guile-2.0 or guile-2.2 -dev[el...]  is installed.
Configuration fails on debian-based systems if the guile-2.2 and the guile-2.0-dev packages are installed.  The packages must be coordinated, -2.0 and -2.0-dev, -2.2 and -2.2-dev, etc.

The attached patch will work with debian-based systems, but is not portable to others such as redhat based syst

[2019-09-30 23:52] graahnul-grom commented on #463
On FreeBSD we have no `-devel` packages. Guile package, for example,
is named just `guile2` and contains all the files needed for development.
IMHO, package separation is largely thing of the past and it leads to user
confusion, additional amount of maintainers' work and explosive growth
in number of packages.

[2019-10-01 00:07] bdale commented on #463
tomdean1939 <notifications@github.com> writes:

FWIW, I handle this in the official package builds for Debian by a
build-depend on guile-2.2-dev, and delivering a run-time depend on
guile-2.2.

Bdale

[2019-10-04 13:21] graahnul-grom commented on #440
`lepton-archive` doesn't work, anyway, since 2007 (git: 9dde023) when
`system-gafrc` was refactored by removing `component-library` calls
from it. `lepton-archive` searches that file for "component-library" strings,
so it cannot find and save any stock symbols.
No bug reports were filed about that (AFAICT), it seems that nobody uses it.
@vzh I agree that we need a tools with similar functionality

[2019-10-08 10:25] vzh commented on #440
Hi friends! Please test and comment on #468. It's probably not feature-complete just now. Just tell me if it could be a decent replacement for (probably non-working) lepton-archive.py. Thanks.

[2019-10-11 08:31] #440 closed

[2019-10-13 16:51] noqsi opened #476 "system-gschemrc problem with 1.99"
Installed 1.99 on an Ubuntu 16 VM on my Mac. Launching lepton-schematic, I get a panel with:

The schematic window has only *File* and *Edit* in the menu bar.

The RC file exists, so I don't understand the reason it failed to load.

[2019-10-13 17:55] graahnul-grom commented on #476
Hi John!
Please make sure that `share/lepton-eda/geda-system.conf` is installed:
[code]
The error message comes from this file:
`share/lepton-eda/scheme/conf/schematic/menu.scm`.
It checks for the `[schematic.gui]::use-docks` and `[schematic.gui]::use-tabs` configuration keys while constructing the main menu.

[2019-10-13 18:02] noqsi commented on #476
Good hint.

The problem was an empty /etc/xdg/lepton-eda/geda-system.conf

How to avoid tripping over this?

[2019-10-13 18:58] graahnul-grom commented on #476
I would not put `geda-system.conf` into `/etc/xdg/`, but leave it in its default location, then override settings in `$HOME/.config/lepton-eda/geda-user.conf`, if necessary.
BTW, we did not have the `geda-system.conf` file before `1.9.8`.
Probably, I should also amend `menu.scm` to make it work even without config file.

[2019-10-13 19:08] noqsi commented on #476
The essential problem is that I don't know how it got into /etc/xdg/ in the first place. I don't even know what /etc/xdg/ is for. Maybe installation needs a "clean up configurations" step.

[2019-10-13 19:30] graahnul-grom commented on #476
lepton-eda doesn't install anything to `/etc`, and never did.
Dealing with old/new configuration files on upgrades is a package
manager's task on many systems.
Did you install 1.9.9 from source this time?

[2019-10-13 19:42] noqsi commented on #476
I installed from the release source.

[2019-10-13 20:09] graahnul-grom commented on #476
Maybe that file in /etc/xdg is a leftover from old times.
Could we close this issue?
And what do you think about including your `gnet-spice-noqsi` backend
into lepton-eda? Does it work with 1.9.9 release?

[2019-10-14 01:13] noqsi commented on #476
I'll close this.

There's a lepton branch in the [gnet-spice-noqsi](https://github.com/noqsi/gnet-spice-noqsi) repo that seems to be working with 1.9.9 after some tinkering today. Could use some cleaning up..

[2019-10-14 01:13] #476 closed

[2019-10-14 12:52] graahnul-grom commented on #476
@noqsi It works if the following expression in `spice-noqsi()` is commented out:
[code]

[2019-10-14 14:16] noqsi commented on #476
It's been working for me with that line uncommented. I suppose, however, that it's useless.

[2019-10-14 15:04] noqsi opened #477 "SPICE cleverness"
It appears that if a netlist back end has "spice" in its name, the behavior of `(schematic-package-names)` changes. Slotted components get split into multiple packages. This causes *gnet-spice-noqsi* trouble, since it works by package, not slot.

[2019-10-14 19:03] graahnul-grom commented on #477
Short answer:
[code]

[2019-10-14 20:29] noqsi commented on #477
I don't think this will work. The cleverness afflicts things like `(get-nets)`: referring to a package by refdes yields

[2019-10-14 21:14] noqsi commented on #477
[code]

But **U8** has a pin **1**. It is, however, a slotted dual comparator with a separate power symbol.

[2019-10-14 21:59] graahnul-grom commented on #477
There is `set-netlist-mode!()` in the `(netlist mode)` module, which sets
either `'guile` or `'spice` mode. The mode affects how schematics are parsed,
not the behavior of various functions (such as `schematic-package-names()`).
The problem is that it's called in the `(netlist)` module before parsing and before
loading of backend. And the `'spice` mode is set if the backend name contains
"spice".

[2019-10-14 22:12] noqsi commented on #477
Could this be repaired so that only the "spice" and "spice-sdb" back ends trigger it? It's a kludgy work-around for the design error of overloading *pinseq*, but I would hope that future back ends do better. SPICE netlisting should be fundamentally the same as layout netlisting.

[2019-10-14 22:21] noqsi commented on #477
I've pushed a new version to the lepton branch at [github](https://github.com/noqsi/gnet-spice-noqsi). I've renamed it gnet-**space**-noqsi for now ツ

I've been using it for real work, it seems good.

[2019-10-14 22:31] graahnul-grom commented on #477
It's possible (and quite easy).
But how do you process slotted components?

[2019-10-14 22:55] graahnul-grom commented on #477
Selecting which mode to use by parsing the backend's name is not a good solution, IMHO.
I think that backends should be converted to guile modules, first.
Then, situations like this could easily be handled by, say, calling a function like
`what-mode-i-want-to-use()`, exported from that module. So, we can define
the interface for backend modules.

[2019-10-14 23:15] noqsi commented on #477
I normally do slotted components by pinnumber. Here's the default prototype for a dual opamp with conventional pinout and model pin order:

[code]

[2019-10-14 23:16] graahnul-grom commented on #477
"~A uses slotting. You must list its connections by pinnumber, not pinseq."
Could you please explain the meaning of this error message?

[2019-10-14 23:20] graahnul-grom commented on #477
Does it mean that I can not use several components with the same `refdes`
and different `slot` attributes?

[2019-10-14 23:20] noqsi commented on #477
spice-noqsi has no standard convention for mapping slots to models through *pinseq*. I don't even understand how that might work for heterogeneous devices. What do you do when the two slot device has three symbol instances (two devices and power)?

[2019-10-14 23:22] graahnul-grom commented on #477
Didn't think about that; I never use separate power symbols.

[2019-10-14 23:24] noqsi commented on #477
You can use several symbol instances with the same `refdes`. They need not have slots, if they have different pin numbers. Or some may have slots. The usual machinery figures out the pin numbers, and then the prototypes for such devices use those, in arbitrary order, to generate an arbitrary number of SPICE "cards".

[2019-10-14 23:30] noqsi commented on #477
I think it's much easier to have a pinout and a model in front of you, and compose a prototype from them rather than wrapping your mind around the `pinseq` definition. Let `pinseq` do its main job of managing pin numbering of slots.

[2019-10-14 23:40] noqsi commented on #477
One problem with library symbols is that the author may not have had a SPICE model in mind when assigning pinseq. It's easy to fix this with a prototype that uses pin numbers.

[2019-10-14 23:43] graahnul-grom commented on #477
Agree, all that `pinseq` stuff is not so obvious.

[2019-10-14 23:54] graahnul-grom commented on #477
If I want to simulate a dual opamp, then I have to create two symbols (with different pin numbers), right?

[2019-10-15 00:10] noqsi commented on #477
You can use slots. I usually use Kai-Martin Knaak's [opamp_dual](http://www.gedasymbols.org/user/kaimartin_knaak/essential/symbols/analog/opamp_dual.sym) and [opamp_dual_pwr](http://www.gedasymbols.org/user/kaimartin_knaak/essential/symbols/analog/opamp_dual_pwr.sym) or some variant.

[2019-10-15 00:14] noqsi commented on #477
Use `pinseq` and `slotdef` to provide the pin numbers for your slots, as you must for layout, and then have `spice-noqsi` use those pin numbers, too. The default prototype for `device=DUAL_OPAMP` works for the common pin convention and model convention (but not every supplier uses them, so check).

[2019-10-15 00:37] graahnul-grom commented on #477
Aha, got it!
1) add instances of slotted component to the schematic
2) set the `slot` attributes for them to make lepton-schematic renumber pins
3) set the `slot` attributes to `0`

[2019-10-15 00:52] noqsi commented on #477
What? I never set slot attributes to 0. I just draw the circuit for layout, using slots the usual way, and then add a few `spice-prototype` and other attributes (`model-name`, etc.) to symbols for which the default prototype isn't right or more data is needed for simulation. The idea is that the SPICE netlister should always work with a schematic drawn for a PC board. It should never ask of you th

[2019-10-15 01:32] graahnul-grom commented on #477
Sorry, I meant `numslots` in item (3) above.
The code checks if `numslots > 0` and reports error in that case:
"R1 uses slotting. You must list its connections by pinnumber, not pinseq."

[2019-10-15 13:38] noqsi opened #480 "Core dump on print"
In 1.9.9, File->Print causes the following:

[2019-10-15 20:04] graahnul-grom commented on #480
Could be solved by installing and running `avahi-daemon`.
Though it's strange: other apps print the same error message, but do not crash.
Paper size can be set in configuration: `[gschem.printing]::paper` key (e.g. "iso_a4"), but it's not related to crash.

[2019-10-17 07:08] vzh commented on #480
@noqsi, I can confirm the crash on Debian (mix of stable/oldstable/testing).
If i comment out those two lines in `schematic/src/gschem_log_widget.c:348`, it works without crash:
[code]

Could you try this?

@graahnul-grom, it looks like there are some racing conditions when using `gtk_main_iteration` in such a way and many lines are added to the log (by `g_log`).  Probably it affects only some sys

[2019-10-17 14:25] noqsi commented on #480
This prevents the crash on my Xenial VM.

John Doty              Noqsi Aerospace, Ltd.
jpd@noqsi.com

[2019-10-18 11:12] vzh commented on #480
Thanks, John.
I'll close the issue.

[2019-10-18 11:16] #480 closed

[2019-10-18 15:28] graahnul-grom commented on #480
Cannot reproduce it, on FreeBSD File->Print works fine.

[2019-10-18 17:18] vzh commented on #480
@graahnul-grom, it could be an issue on Debian and its derivations.  It crashed on my PC, too, as I already said, and John has confirmed that my fix worked.  I decided it's better to not deprive our users of the printing functionality until we fix it otherwise, so I committed my work-around patch, sorry.

[2019-10-18 17:49] graahnul-grom commented on #480
You were right committing this, there's nothing to be sorry about.
Debugging shows that there is indeed a race condition when GTK tries to log
a message.

[2019-10-18 20:47] graahnul-grom commented on #480
Though it breaks scrolling in the log window (reported in #238, fixed in #239).
@vzh @noqsi Could you please try the attached patch? It should fix the
scrolling issue (using a different trick). Will it crash on Debian?

[log_scroll.diff.txt](https://github.com/lepton-eda/lepton-eda/files/3745600/log_scroll.diff.txt)

[2019-10-18 21:02] noqsi commented on #480
‘patch’ doesn’t like the patch versus 1.9.9

Hunk #3 FAILED at 314.
1 out of 4 hunks FAILED

John Doty              Noqsi Aerospace, Ltd.
jpd@noqsi.com

[2019-10-18 21:40] graahnul-grom commented on #480
@noqsi This patch should be applied to the latest git source tree.

[2019-10-18 21:54] graahnul-grom commented on #480
@noqsi Here's the patch against 1.9.9 release.

[log_scroll_199.diff.txt](https://github.com/lepton-eda/lepton-eda/files/3745800/log_scroll_199.diff.txt)

[2019-10-18 22:09] noqsi commented on #480
Just rebuilt from patched git, all is well. No crash on print.

John Doty              Noqsi Aerospace, Ltd.
jpd@noqsi.com

[2019-10-18 22:15] graahnul-grom commented on #480
Thank you, John. And what about scrolling? Does the window scroll to the bottom
when something is written to the log?

[2019-10-18 22:18] noqsi commented on #480
Yes.

John Doty              Noqsi Aerospace, Ltd.
jpd@noqsi.com

[2019-10-18 23:43] graahnul-grom commented on #480
Отлично, сейчас запилим PR. Ваше здоровье, камрад Джон!

[2019-10-18 23:52] noqsi commented on #480
何ですか？

John Doty              Noqsi Aerospace, Ltd.
jpd@noqsi.com

[2019-10-19 01:01] noqsi opened #483 "Shorted net complaints"
Using lepton-netlist 1.9.9.20191003 (git: ad4ada5), I get numerous:

It doesn't appear to cause errors in the netlist.

[2019-10-19 07:48] vzh commented on #480
@noqsi, he jokes :-) Literally, it's something like "Greate, we'll make a PR just now. (A cup of wine, vodka, or some) to you health, comrade John!"

@graahnul-grom, your patch works great, anything is scrolled correctly. Waiting for the promised PR.

[2019-10-24 01:24] graahnul-grom commented on #483
I see this, too. It seems that it happens with all kinds of schematics (hierarchical or not) and with all backends.

[2019-11-12 18:53] graahnul-grom commented on #284
Having four help items in the `Help` menu is excessive.
They all point to essentially the same outdated wiki documentation
pages, one click away one from the other.
I think just one item (`gEDA Wiki`) would be enough.

[2019-11-12 19:56] vzh commented on #284
The menu should be reviewed, I believe. We have to somehow refactor the old docs from gEDA wiki and merge it with our up-to-date documentation (if any). I think we could move the docs first to our wiki, and then probably to another repository.

[2019-11-22 15:16] graahnul-grom commented on #477
@noqsi @vzh I have removed the kludge from lepton-netlist that decides what
mode should be used (`'geda` or `'spice`) based on the backend's name.
Backend can request the desired mode by defining `request-netlist-mode()`
function in its code. Only `spice` and `spice-sdb` backends have to be fixed.
John, could you please rename your file back to `gnet-spice-noqsi`, update
lepton sources and test th

[2019-11-23 18:13] graahnul-grom commented on #483
It's `check-shorted-nets()` function in the `(netlist hierarchy)` module.
[code]

[2019-11-25 17:56] graahnul-grom commented on #477
I've tested [`gnet-spice-noqsi`](https://github.com/noqsi/gnet-spice-noqsi/blob/lepton/gnet-space-noqsi.scm) with [tb_226_netlist_mode](https://github.com/graahnul-grom/lepton-eda/tree/tb_226_netlist_mode) changes and it works.

[2019-11-26 15:43] graahnul-grom commented on #477
#513

[2019-12-08 08:45] vzh commented on #477
@noqsi,
Could you please review #513 if it fixes the issue without the need to rename your backend?

[2019-12-18 18:42] nik570 opened #528 "gsch2pcb work <--> lepton-sch2pcb does not, different netlists"
Then working with a schematic with hierarchy I have discovered gsch2pcb work but then using leptong-sch2pcb net name is not propagated down in hierarchy and there is no warning.

[2019-12-18 21:21] vzh commented on #528
@nik570,
A little example schematic would be very handy for us in order to solve your issue.
Thanks in advance.

[2019-12-18 21:53] nik570 commented on #528
On Wed, 18 Dec 2019 13:21:23 -0800
Vladimir Zhbanov <notifications@github.com> wrote:

Searched and did not find anywhere to put example schematic, found button with funny looking faces. Sent attached files to this mailing list a few hours ago, example was not so small and are not certain it work without symbols/packages.

Regards Nicklas Karsson

[2019-12-19 05:28] graahnul-grom commented on #528
@nik570 At the bottom of the box where you write a comment, there is text
saying "Attach files by dragging & dropping, selecting or pasting them".
Click on the "selecting" word - and the "File Upload" dialog will appear.

[2019-12-19 08:42] vzh commented on #528
Nicklas, I haven't seen any attachments in your posts on geda-user, sorry.

[2019-12-19 17:00] nik570 commented on #528
Example files attached, missed the text on bottom and got distracted by the funny looking figures.

[2019-12-19 17:17] #423 closed

[2019-12-20 04:44] graahnul-grom commented on #528
@nik570 Supported file extensions are listed in the drop-down box of the
"File Upload" dialog (at its bottom-right corner). `zip` is among them, so you
can create a zip archive with your files and upload it here.

[2019-12-21 04:43] #477 closed

[2019-12-21 11:04] graahnul-grom commented on #423
The [Configuration-Settings](https://github.com/graahnul-grom/lepton-eda/wiki/Configuration-Settings) document in my wiki has been updated with new options.
Please check it.

[2019-12-21 16:32] nik570 commented on #528
[test_sch2pcb.zip](https://github.com/lepton-eda/lepton-eda/files/3991580/test_sch2pcb.zip)
Uploaded files with test case.

[2019-12-21 22:40] noqsi opened #529 "Segfault when locale not supported by system"
On an Ubuntu 16.04.6 VM without Japanese support:

With language-pack-ja installed, all is well. Of course, I don't expect it to work without support for the language, but it shouldn't segfault.

[2019-12-22 05:49] graahnul-grom commented on #529
[code]

![2019_12_22 08 44 21](https://user-images.githubusercontent.com/26083750/71317755-500e5680-2497-11ea-9cf2-f6839d2eb7ef.png)

[2019-12-22 09:58] vzh commented on #529
@graahnul-grom,
@noqsi says that the program segfaults when the appropriate locale has NOT been installed.
I can confirm this.  Have seen this about a month ago when tried to demonstrate lepton-schematic working in other locale to my colleagues at work.
Your picture just demonstrates that you don't have necessary Japan fonts.

[2019-12-22 14:05] noqsi commented on #529
@graahnul-grom
Looks good if you have the locale and the fonts installed.

![image](https://user-images.githubusercontent.com/404801/71322790-7c2ad700-2499-11ea-9ba2-e9cf0d6e51e7.png)

[2019-12-22 17:28] vzh commented on #529
John, please check if #532 fixes the issue for you.

[2019-12-22 20:51] #529 closed

[2019-12-24 03:33] vzh commented on #423
@graahnul-grom,
I've read your document thoroughly, please see my notes below:
- The link to  [conf/schematic/options.scm](https://github.com/lepton-eda/lepton-eda/blob/master/schematic/scheme/conf/schematic/options.scm)  is no longer functional.
- PATH configuration context: instead of "contains settings for a directory", I would say  "contains per-project (per-directory) settings".
- Expression

[2019-12-28 09:48] nik570 commented on #528
Think I nailed the problem to several layers of hierarchy. gsch2pcb work with several layers of hierarchy while lepton-sch2pcb work only with single layer of hierarchy. Same schematic but layers further down is not connected.

[2019-12-29 14:56] vzh commented on #528
@nik570,
Could you please add missing symbols to the archive (or just embed them to your schematics)?
Symbols I cannot see are as follows:
LM1117-3.3.sym (steppersBoard.sch)
Power_1in_1out.sym (steppersBoard.sch)
STM32F103xx_LQFP48.sym (steppersBoard.sch)
Fiducial.sym (steppersBoard.sch)
dual_diode_series-1.sym (StepperL6474.sch)
L6474_36PIN.sym (StepperL6474.sch)
connector14-1.sym (SPI.sch)
DS829

[2019-12-29 17:09] nik570 commented on #528
Embedded symbols and added symbols in separate file in case I missed some. If I know about it embedding had been a better option from start then updated could be done then decided  and no symbols will be missing.

[stepperSym.zip](https://github.com/lepton-eda/lepton-eda/files/4008306/stepperSym.zip)
[Uploading steppersBoard_embedded_components.zip…]()

Karl Aspo Data also provided me a working ex

[2019-12-30 16:37] graahnul-grom commented on #423
@vzh Thank you! I've updated the document with your notes and uploaded it
to the main wiki. However, I have no idea how do I split it up in several pages.
IMHO, wiki (and especially the github one) is a nightmare. Even writing HTML
in text editor is much better.
To make it easier to navigate through the "Configuration Settings" page,
I've extended the table of contents, though.

[2019-12-30 18:41] vzh commented on #528
Nicklas, I cannot promise I'll look into the issue just now, I'll have holidays and am going to go to my mum, so I'm going to look into it after my holidays, sorry. Happy New Year!

[2019-12-30 18:46] nik570 commented on #528
Of course not, you have no obligations to do anything. I have to be grateful for anything that get done.

[2020-01-02 19:17] graahnul-grom commented on #483
In case somebody got tired with those self shorted nets warnings,
here's a temporary solution.

[code]

[self_shorted_nets.diff.txt](https://github.com/lepton-eda/lepton-eda/files/4017032/self_shorted_nets.diff.txt)

[2020-01-03 21:55] graahnul-grom commented on #528
@nik570
Several points:

1. Happy New Year, Nicklas!
2. `lepton-sch2pcb` has nothing to do with errors in generated netlists.
As can be seen in its [man page](https://graahnul-grom.github.io/ref-man/lepton-sch2pcb.html),
it only invokes the netlister program three times to produce appropriate
files that can be read by the `pcb` layout editor.
3. Wherever the actual problem is, in situation where w

[2020-01-04 09:41] nik570 commented on #528
Well lepton-sch2pcb is what I use and I know it call lepton-netlist to get work done.

Inded but as someone asked and time was limited I used what I had at hand.

Yes this one work. I have also concluded for my schematic there is a difference between gsch2pcb and lepton-sch2pcb and lepton-sch2pcb work with one layer of hierachy, will try to nail it further with a more simple example.

[2020-01-05 16:47] vzh commented on #423
@graahnul-grom,
Thank YOU for your work! (And as I see, it's a lot of work.)
Github's wiki interface is **ugly**.  Especially when your links written in its web interface work differently compared to those done in the wiki git repository. (Probably, when Peter B. suggested github vs gitlab we did a wrong decision...)
Still I have managed to separate the last part of your document--Obsolete Setting

[2020-01-05 16:49] #483 closed

[2020-01-05 17:39] vzh commented on #528
@graahnul-grom, @nik570,
I am sorry, though I should state our Lepton netlister has some issues with hierarchy.  While it correctly processes all tests in the suite, there are reports (e.g., a report from Karl Hammar) that it does the job wrongly in some cases (I have not opened an issue about this yet, sorry).  There can be some inherited and probably some new issues (after its full rewriting in

[2020-01-05 17:48] graahnul-grom commented on #423
Yes, the *Obsolete Settings* page works, all links are OK, thank you.
What is really bad about gh wiki: it's useless side bar. It cannot be removed.
It just shows the list of links that is impossible to rearrange with stupid
"show more 1 page..." at the bottom. It takes almost 1/4 of the page width,
so we can forget about more or less wide tables and full size images.
And did you notice that gh/ms

[2020-01-05 18:09] vzh commented on #423
It always looks like it is their success plan (not only ms's one): buy popular services, change them so others always spend more time on their new changes, make others just run after them instead of doing something usable.
The page width depends on your monitor :-)  While I have a pretty large monitor at home, my boss at work has a bigger one, I think. Netbook and smartphone users are suffering, y

[2020-01-05 19:54] graahnul-grom commented on #423
I have no particular opinion on those sneaky "success plans", but for me it looks exactly the same as the road to hell should look like. Making assumption
that everyone in the world is rich and has a couple of 40'' monitors on the desk
is the last thing a least self-respecting developer would do. Set that aside, what
about, for example, tablet computers? They're everywhere.
BTW, that freaking side

[2020-01-06 12:55] vzh commented on #423
I've just improved the wiki sidebar, I think, along with other changes.

[2020-01-07 17:00] graahnul-grom commented on #423
Thank you, it looks better now.

[2020-01-08 20:36] vzh commented on #463
Friends, I propose to close this issue.  It can be reopened if/when a portable solution will be found.

[2020-01-08 21:07] tomdean1939 commented on #463
On 2020-01-08 12:36, Vladimir Zhbanov wrote:

I think my install is OK.  This is still an issue, but, a solution is
not evicent.

Please close it.

Tom Dean

[2020-01-09 09:47] vzh commented on #463
Thank you, Tom!

[2020-01-09 18:10] graahnul-grom commented on #423
@vzh Could you please remove the "To-Do list" page from our wiki?
It's embarrassing.
I wanted to discuss it earlier, but now I'm convinced that there's
nothing to discuss. Almost every phrase in it is a crying shame.
No technical person in his senses could write **and publish** such
a "document". A drunk housewife could have done it, that's for sure.
If you desperately need a formal TODO list, let

[2020-01-10 11:22] vzh commented on #463
We could ease life of our users by just improving the following line in `geda-guile.m4`:
`AC_MSG_ERROR([you need at least version ${GUILE_MIN_VER} of guile])`
to point them to the direction where the issue might be.  E.g., we could add something like: *Please check if appropriate development package (-dev or -devel), if any, with headers for this version is installed on your system.*
WDYT?

[2020-01-10 13:51] vzh commented on #423
Done.  And please calm down.  The document was created by @peter-b in his **private** repository **before** it became `lepton-eda`.  I added nothing significant to it since then.  And no, I don't need a formal TODO list, it's enough for me to have the issue list.  (BTW, in the repository `lepton-eda` itself there are lots of to-do files lurking around).

[2020-01-10 16:49] vzh commented on #423
@graahnul-grom,
I've deleted two previous comments (yours and mine), because your message violated our [Code of Conduct](https://github.com/lepton-eda/lepton-eda/blob/master/CODE_OF_CONDUCT.md), was completely unacceptable to be posted in any lepton-eda communication channel, deeply insulting to the developers worked on gEDA and Lepton EDA, especially those who worked on the mentioned document, di

[2020-01-10 17:55] graahnul-grom commented on #423
@vzh Thank you very much!
Of course, I'm sorry if someone got offended.
In no way the message was intended to insult anyone, but to deliver
a trivial assertion: we shall not make a laughing stock of us by
publishing that kind of stuff as an official document (as it turned
out, that was some private scribbled notes, didn't know about that.
How on earth did they get to our wiki!? Unbelievable!).

[2020-01-10 18:21] vzh commented on #423
It's our (developer's) task to make things better (without offending anyone).  If you feel like something like you've posted here, please put this privately (to me, if you want), we'll discuss this then.

[2020-01-10 19:12] graahnul-grom commented on #423
OK!

Do you remember that crazy autotools library versioning pitfall (this formula:
`AX_LIBFOO[X:Y:Z] => libfoo.so.X-Z.Z.Y`)? Shouldn't we add this to the
"Release Engineering" page?

[2020-01-11 04:39] vzh commented on #423
Yes, I thought of this, too.

[2020-01-11 18:51] graahnul-grom commented on #463
I think it would be helpful, while there's no bulletproof solution.
wrt `guile-config`: I've checked most of the packages at https://pkgs.org/download/guile and indeed, it's present only in development packages, AFAICS.

[2020-01-13 08:54] vzh commented on #463
@graahnul-grom,
So you suggest to check for `guile-config --version` in the m4 file, somehow parse its output and compare with found guile's effective version?
Probably a better solution exists. [Here](https://www.gnu.org/software/guile/manual/html_node/Autoconf-Macros.html) I found that `GUILE_PKG` can be used to search for development packages. And [here](https://github.com/aconchillo/guile-json

[2020-01-13 17:27] graahnul-grom commented on #463
Thank you for the link, haven't seen that before.
The file in the second link is not an example, it's a copy of stock `guile.m4`.
I've added the following lines to `m4/geda-guile.m4`:
[code]
Then (on ubuntu 19.04 "disco") all guile packages were removed. After that:
[code]
And `configure` correctly reported `-dev` package mismatch.

@vzh @tomdean1939 Could you please test this on your systems?

[G

[2020-01-14 00:06] tomdean1939 commented on #463
On 2020-01-13 09:27, dmn wrote:

On Ubuntu 18.04, apt-get wants to match guile-2.0 with guile-2.0-dev.

Reading package lists... Done
Building dependency tree
Reading state information... Done
guile-2.2 is already the newest version (2.2.3+1-3ubuntu0.1).
Suggested packages:
   guile-2.0-doc
The following packages will be REMOVED:
   guile-2.2-dev
The following NEW packages will be installed:
   gu

[2020-01-14 07:38] graahnul-grom commented on #463
Yes. After that you will have guile 2.2 and the development
package for 2.0 installed. We want to check whether
`configure` will complain about versions mismatch.

BTW: unfortunately, I'm unable to apply your patch,
`git apply` says "error: unrecognized input".

[2020-01-16 20:32] graahnul-grom opened #545 "Reorganize the context menu"
Although I do not use context menu in lepton-schematic and still believe
that the right mouse button should be used for mouse panning (#369, point 5),
it's time to update it with more relevant menu items.
Here's the screenshots of current context menu (on the left)
and possible replacement (on the right):

![context_menu](https://user-images.githubusercontent.com/26083750/72560209-a2d10780-38b7-11

[2020-01-17 19:12] vzh commented on #463
@graahnul-grom,
Just tried it, your patch works OK, thank you! Please make a PR.

[2020-01-17 19:59] vzh commented on #528
@nik570,
I seem to have fixed this in #546. `lepton-sch2pcb`'s output differs from `gsch2pcb`'s one since in Lepton all elements are sorted.  However, I have carefully checked all output files and they now contain the same data when building with either tool (names of unnamed nets differ, though).  Please try to compile that branch and check if it works for you.  Your feedback is much appreciated.

[2020-01-18 16:54] #528 closed

[2020-01-18 17:52] vzh commented on #545
You don't like buses, as I can see :-)  I wouldn't throw them out.
Getting rid of zooming entries is OK with me (why are they there?).  I would remove `Select` as well.
Moving `Add component` to the top seems to be a good idea.

[2020-01-19 01:29] graahnul-grom commented on #545
![ctx_menu_new_1](https://user-images.githubusercontent.com/26083750/72672944-c3de5780-3a73-11ea-992e-76878048faf8.png)

[2020-01-19 06:52] vzh commented on #545
Yeah, this last version suits me well :-)

[2020-01-19 21:20] graahnul-grom commented on #463
Now I know why people include a copy of `guile.m4` in their projects. :-)
If guile (one of the dev packages, checked it on an old `altlinux` distro) is
not installed, `GUILE_PKG` and other macros won't work.
Copying `share/aclocal/guile.m4` (from the 2.2.6 FreeBSD package) to our
`m4/` folder solves it.
Is it OK to distribute that file with lepton sources?

[2020-01-20 12:29] vzh commented on #463
Why not? I think, OK.

[2020-01-21 08:52] #545 closed

[2020-01-21 09:13] #463 closed

[2020-01-31 18:01] drforbin opened #557 "netlist not creating expected results"
expected results netllister

Example diode:

    refdes = D5
    model-name = 1N1004
    model = IS=0.5UA RS=6 BV=5.20

SPICE lines generated: D5 2 6 1N1004 MODEL 1N1004 D (IS=0.5UA RS=6 BV=5.20)

supporting files attached.

Also bug related to including ONE LINE spice models via spice include symbol.

When a one line spice model is included netlist fails.
netlist works as expected if a multi-line

[2020-02-01 09:42] vzh commented on #557
@drforbin,
IIUC, you use the `spice-sdb` backend?
What it outputs for me when processing your schematic is:
[code]
As i can see, both [gEDA SPICE HOWTO by SDB](http://wiki.geda-project.org/geda:csygas) and netlister do show wrong results. IIUC, the result from your schematic should be as follows:
[code]
Right?

[2020-02-01 09:57] graahnul-grom commented on #557
Please try the attached patch.

[code]

[gnet-spice-sdb_fix_model.diff.txt](https://github.com/lepton-eda/lepton-eda/files/4142401/gnet-spice-sdb_fix_model.diff.txt)

[2020-02-01 10:19] vzh commented on #557
Emm, the better solution would be:
[code]

Otherwise, you'll lose models specified by the `value=` attribute.

[2020-02-01 10:29] vzh commented on #557
And let's keep the issue open until not only a fix, but a test schematic goes to the repository (I suggest the schematic from the archive by @drforbin).

[2020-02-01 11:04] graahnul-grom commented on #557
I'm not sure if SPICE model (IS=0.1PA, RS=16 etc. line) could be
specified via the `value` attribute.

[2020-02-01 11:15] graahnul-grom commented on #557
With you patch I get this:
[code]

[2020-02-01 11:23] vzh commented on #557
Ah, yes, didn't check it.  Your solution seems better.
@drforbin, please check if @graahnul-grom's fix works for you.

[2020-02-01 20:38] drforbin commented on #557
Vlad. Not suppose to specify models with value attribute.

[2020-02-01 21:25] noqsi commented on #557
The difficulty of dealing with models in spice-sdb style is that there is a lot of this hard-wired code for common devices, along with heuristics that attempt to figure out how it applies. It doesn't always work the way you want, especially if your devices are uncommon. This is one reason why I wrote the [spice-noqsi](https://github.com/noqsi/gnet-spice-noqsi/tree/lepton) back end. It does most of

[2020-02-01 23:55] drforbin commented on #557
I will apply the patch and get back with you all.
There is another issue with include files as well.
I have already told Vlad about this.

Should I post it here or open another issue?

[2020-02-02 07:07] vzh commented on #557
Merlyn, please open a new issue for another bug.

[2020-02-02 12:43] drforbin commented on #557
[files.zip](https://github.com/lepton-eda/lepton-eda/files/4144166/files.zip)

I tried the patch, it did no work.
Here are the files I used.

[2020-02-02 18:53] graahnul-grom commented on #557
Please provide us with the following information:
1. The command you run
2. The output you expect
3. The output you actually got

[2020-02-02 19:49] drforbin commented on #557
The command line is lepton-net 0g spice-sdb -o out.spice doubler.sch

[tryer.txt](https://github.com/lepton-eda/lepton-eda/files/4145141/tryer.txt)
attached file is obtained output.

expected outcome

[frg_band_pass.txt](https://github.com/lepton-eda/lepton-eda/files/4145144/frg_band_pass.txt)

I apologize. I would fix this myself but I donot know guile.
Any suggestions for me to learn it?

[2020-02-02 20:35] drforbin commented on #557
Please double check. I think I was wrong. I believe your patch fixes the problem.
Please double check for me with above files and give me some references for guile.

thank you

[2020-02-02 20:48] drforbin commented on #557
FYI..
it is producing a multi-line model.
It reall should be something like this.

D5 2 6 1N1004 MODEL 1N1004 D (IS=0.5UA RS=6 BV=5.20)

[2020-02-02 21:00] drforbin opened #558 "problem with spice included models"
When a model is included with symbol spice include directive and the referenced file
is NOT multi-line it fails.

Please find included files proving failure.
[first.zip](https://github.com/lepton-eda/lepton-eda/files/4145304/first.zip)
[second.zip](https://github.com/lepton-eda/lepton-eda/files/4145305/second.zip)

[2020-02-02 21:34] noqsi commented on #557
What SPICE dialect is

?

In most SPICE dialects, that kind of model requires a separate *.MODEL* "card". No general-purpose SPICE netlister should produce the above by default.

[2020-02-02 22:51] drforbin commented on #557
I did alittle research, it seems your correct.
The reference for gEDA and lepton shows under the wiki it should produce
the above line (D5 2 6 1N1004 MODEL 1N1004 D (IS=0.5UA RS=6 BV=5.20)) .
This wiki was produced by the writer of spice-sdb backend.

I always use a separate model line.

Thank you.

[2020-02-02 23:02] noqsi commented on #557
Stuart's original document was not part of a wiki. It may have lost a newline in translation.

[2020-02-02 23:07] drforbin commented on #557
Ok thank you.

Well it was part of the howto.

I looked through spice2/spice3 and ngspice doc and as I said it seems you are correct.
These kinda of things should be clarified. This is valuable.

[2020-02-03 05:03] vzh commented on #557
@drforbin, @graahnul-grom, @noqsi, thank you all!
@graahnul-grom, please open a new PR with your patch.
Thanks.

[2020-02-03 05:25] vzh commented on #557
@drforbin,
as for guile Scheme, [schemers.org](https://schemers.org/), especially [this page](https://schemers.org/Documents/#all-texts), contains lots of info. Guile specific info can be found in [Guile Manual](https://www.gnu.org/software/guile/manual/).

[2020-02-03 06:24] drforbin commented on #557
Thank you...patch works confirmed

[2020-02-03 06:27] drforbin commented on #558
Please confirm before close.
Upon review my distro Gentoo is running all output directed to 'less' to |pipeless first before display. Apparently it does not like spice files and thinks they are something else.
Therefore It processes them and screws the output up.
Please confirm that the spice generation is correct on you all ends.
If so it's just my distro pre processing threw less and this issue

[2020-02-03 06:28] drforbin commented on #558
If so I can get onto productive work finishing up more example schematics!

[2020-02-03 11:01] vzh commented on #558
The files look OK for me.

[2020-02-03 11:02] vzh commented on #558
I close this issue. Please re-open it if something is really wrong.

[2020-02-03 11:02] #558 closed

[2020-02-06 08:30] graahnul-grom commented on #558
Merlyn, are you using the Dominique's Gentoo overlay with lepton-eda `ebuild` [1]?
I think we should add the link to it to our Gentoo wiki page [2].

[1] https://github.com/domichel/GenCool/tree/master/sci-electronics/lepton-eda
[2] https://github.com/lepton-eda/lepton-eda/wiki/Gentoo

[2020-02-09 07:23] #557 closed

[2020-02-09 16:30] graahnul-grom commented on #284
@vzh So, should we remove those excessive items now?

![help_menu](https://user-images.githubusercontent.com/26083750/74105850-8d779200-4b72-11ea-9f37-e78d37e338bc.png)

[2020-02-10 10:02] graahnul-grom commented on #284
`github` wiki is pathetic. It can't be helped.
I seriously doubt that it's worth our time and
effort to make content for it. Most likely, it
will result in double work in near future.
Look how ugly those shrunk images are [1] [2];
and display size doesn't matter. As I said
elsewhere, we can forget about tables and pictures
(especially, screenshots: "Hey, folks, see how
scary our app looks like!").

[2020-03-17 16:56] noqsi opened #600 "Invalid topology"
The schematic [here](https://github.com/noqsi/noqsi-lepton-addons/blob/master/check-duplicates/test/bad.sch) represents an invalid circuit topology, as each pin on `R1` connects to two different nets. This should represent a fatal error for lepton-netlist.

The back end [here](https://github.com/noqsi/noqsi-lepton-addons/blob/master/check-duplicates/src/gnet-check-duplicates.scm) shows an approach

[2020-03-17 17:57] vzh opened #601 "Add a way to use add-ons without using any program options or RC files."
It would be nice to have a mechanism to support add-ons/packages.
The user of an add-on should be able to install it without
figuring out where to put the components. The user doesn't have to
figure out load paths and such.  The user may want to install a
back end.  It can import some modules and use some data files.

One lispy example of how it can be implemented is Emacs. It just
uses a set of p

[2020-03-17 18:31] graahnul-grom commented on #601
FWIW, `$HOME/.local/share/lepton-eda/scheme/` is automatically added
to the `%load-path`.

[2020-03-17 19:09] noqsi commented on #601
to the %load-path

And then there's `user-data-dir` (`$HOME/.gEDA`) for data files.

[2020-03-17 19:09] graahnul-grom commented on #601
That is, `$XDG_DATA_HOME/lepton-eda/scheme/`.
`eda_get_user_data_dir()`

[2020-03-17 19:14] graahnul-grom commented on #601
`user-data-dir()` no longer returns `$HOME/.gEDA`. It was changed
a long time ago. It returns the directory just mentioned above.

[2020-03-17 19:25] noqsi commented on #601
Oops, wrong version. For production, I was using an old version for stability. Time to retire that. I have (git: 602f004) installed for new development.

[2020-03-17 19:39] graahnul-grom commented on #601
I would recommend to update to the latest git: there are significant
changes after that commit, namely, we do not use `geda*.conf` files
anymore, and some configuration groups were renamed
(e.g. `gnetlist*` => `netlist*`), please see #598.

[2020-03-17 19:49] noqsi commented on #601
I updated last week for development purposes. Latest git is a moving target. And I have multiple environments on multiple computers, so I can become confused occasionally ツ

[2020-03-17 19:59] vzh commented on #601
Ha, I forgot about this. It's time to do three things:
- eventually move my scheme add-ons/plugins to new locations;
- make a new release;
- and close this issue.

WDYT, friends? ;-)

[2020-03-18 17:38] vzh commented on #601
After thinking a bit more about the issue, there is one thing I would change. For now, the user can load and set up her/his Scheme functions in `gafrc`.  It would be convenient to specify the name and probably place of this file using the new config system. I suggest adding a setting defining scheme RC file name, relative or absolute, which should be auto-loaded by the lepton tools and contain any

[2020-03-19 17:45] bdale opened #602 "lepton-upcfg has no man page"
When building lepton-eda 1.9.10 for upload to Debian, our lintian tool pointed out that lepton-upchg has no man page.

[2020-03-20 18:29] vzh commented on #602
@graahnul-grom, could you tackle this?

[2020-03-20 18:31] vzh commented on #76
@noqsi, have you tried to build lepton on Mac since then?

[2020-03-20 18:56] noqsi commented on #76
I have not tried it. To use Lepton on my Mac, I have an Ubuntu VM. I could try building and running 1.9.10 natively.

[2020-03-20 19:05] vzh commented on #76
It would be much appreciated. Please try.

[2020-03-20 19:40] noqsi commented on #76
`configure` gives me:

while `homebrew upgrade gawk` fails, complaining that my OS (10.12) is no longer supported. I suppose I could try upgrading the OS, but this is an old Mac, and it's too important in my present situation for me to feel comfortable experimenting with changes that drastic right now.

[2020-03-20 20:01] vzh commented on #76
Just out of curiosity, your OS should have some other awk (nawk, mawk, ...)? Maybe it supports those functions.
Just found that on my system there are 2 awk binaries: `gawk` and `mawk`. On Debian (and its derivatives) the one working is chosen via the `alternatives` facility.  Maybe your Mac supports something like this?

[2020-03-20 20:53] graahnul-grom commented on #602
Dear friends! Let me send here a document that can shed some light
on recent developments (or lack theroff).

Доклад.
Ст. сержанта Пупкина В. В. майору Бузякину А. А.
В процессе патрулирование южной окраины военного городка Н
в составе гарнизонного караула, мною был замечен лейтенант Д,
вызывающее поведение которого и привлекло внимание военнослужащих.
Находясь в окружении красивых женщин, чью соц

[2020-03-20 21:03] graahnul-grom commented on #602
`man` страница будет написана. не вопрос.

[2020-03-20 21:36] vzh commented on #602
@graahnul-grom
(Please, please, we're not alone here :-)) I'm afraid to suspect who of presented here is the lieutenant D.  The stanza of the lack of articles and one of lack of developments transparently hints it's me }:-| OTOH, the name D looks strange then }}:-|
If seriously, there is no need to write an extensive document: name, usage, output of `--help`, and copyright would be sufficient ;-)

[2020-03-20 21:37] noqsi commented on #76
OK, installing `texinfo` and doing `export PATH="/usr/local/opt/texinfo/bin:$PATH"` got it to build. Still problems. Here's lepton-schematic:
![image](https://user-images.githubusercontent.com/404801/77207484-dacf1380-6acf-11ea-8c2c-b2245278c1f2.png)
No menus. There appears to be no text in the schematic, but it's just very tiny. Mousing over the blank upper part gets menus and widgets to appear.

[2020-03-20 22:13] vzh commented on #76
So there are issues with text rendering, preview widget (`eda_renderer_finalize`), and menus.  The two former issues may relate to our cairo rendering. The latter one is questionable...

[2020-03-22 18:26] graahnul-grom commented on #602
My friends, tomorrow we will resume the development process.

![vasya_lozshkin_pohozhe_chto_vse](https://user-images.githubusercontent.com/26083750/77257080-f66e2180-6c69-11ea-9d99-dbfff25fa5da.jpg)

[2020-04-03 13:40] #602 closed

[2020-04-06 07:58] suboptimallife opened #622 "Printing Issue : Text Translates In Y-Axis"
I am having a problem when printing schematics from Lepton and Google searches didn't bring up anything relevant. I was using a Lepton build downloaded from source back in January but downloaded 1.9.10.20200319 and the problem carries over between versions. Text which is positioned correctly in the schematic is translated in the y-axis in both print preview and print-to-file output (see attachment

[2020-04-06 09:29] vzh commented on #622
Could you please embed your title symbol into the schematic file or use `lepton-archive` to get all files necessary to correctly render it?
And  could you please show us the exact `lepton-cli` command you used for export?

[2020-04-06 11:08] suboptimallife commented on #622
lepton-archive output attached. Commands used were:

lepton-cli export -f pdf -o print_test01.pdf -p iso_a3 -l landscape --no-color print_test.sch
lepton-cli export -f pdf -o print_test01.pdf -p iso_a3 -l landscape print_test.sch
lepton-cli export -o print_test01.pdf print_test.sch

[2020-04-06 12:01] suboptimallife commented on #622
[project-archive.tar.gz](https://github.com/lepton-eda/lepton-eda/files/4438218/project-archive.tar.gz)

[2020-04-06 17:06] vzh commented on #622
OK, thanks.  Could you try the following commands and report their output here:

Please try also to `rm ~/.cache/guile -rf` and re-check if `lepton-cli` works or not.

The issue with printing from `lepton-schematic` may be solved in #623.  I would very appreciate if you rebuild Lepton using the branch there and try if it works better.

[2020-04-07 08:44] suboptimallife commented on #622
lepton-cli --version Lepton EDA 1.9.10.20200319 (git: )
lepton-schematic --version Lepton EDA 1.9.10.20200319 (git: )

rm ~/.cache/guile -rf still results in a blank pdf output from lepton-cli export

[2020-04-07 09:21] suboptimallife commented on #622
The effect of applying the patch from #623 and rebuilding has been to make the printed font different from that of the rendered font but the displacement still exists.

[2020-04-07 10:33] vzh commented on #622
The most interesting info is missing, I mean git commit :-)
Have you tried to use another font in GUI using 'Options->Font...'. Please try first to choose another font and save your configuration, then restart `lepton-schematic` and compare rendered and printed fonts.
Another thing to check is what fonts are used on your system. You could find what font is used in your pdf output (say, in `evince`

[2020-04-07 11:06] suboptimallife commented on #622
Played around with various fonts but to no effect. Sans is substituted with Roboto on my system (OpenSuSE Tumbleweed). I shall uninstall Lepton EDA and grab it from git so at least I can provide commit information.

[2020-04-07 12:44] vzh commented on #622
BTW, what's the alignment of your text? Please try to insert the same multiline block of text with different alignment along Y and show us the result of printing.

[2020-04-07 13:31] suboptimallife commented on #622
Problem persists with lepton cloned in git:
lepton-cli --version Lepton EDA 1.9.10.20200319 (git: 41225ef)
lepton-schematic --version Lepton EDA 1.9.10.20200319 (git: 41225ef)

I installed evince to see if that had any effect. But sadly no.

I have applied the patch from #623 to this git commit and still the problem persists. If I interpret your comments correctly this seems to be a problem specif

[2020-04-07 14:52] vzh commented on #622
OK, thank you.

You've probably misunderstood me.  I mentioned `evince` as a tool where you could easily check what font is used in your pdf document.  You could use some TUI utils as well, like, e.g., `pdfinfo` or such, to learn what fonts are really used/embedded into your document.

It may be superposition of the issues in lepton and your system environment.  About half a year ago Rob Gilton re

[2020-04-07 21:37] suboptimallife commented on #622
Sorry, I did not see this message earlier. This is absolutely the source of my issue. Attached is a test file [print_test-alignment.pdf](https://github.com/lepton-eda/lepton-eda/files/4447109/print_test-alignment.pdf) which shows that every alignment option which is LOWER aligned along Y is subject to the unwanted translation. The other six possible options are fine.

For now that means I can work

[2020-04-08 05:32] vzh commented on #622
Thank you very much!  Now I see that this is not a font issue, at least the part related to `lepton-schematic`.  Some wrong calculation of lower aligned text for landscape orientation.  Please upload here the schematic you've made the last pdf from (print_test-alignment.pdf).

[2020-04-08 07:50] suboptimallife commented on #622
As requested (file extension changed):
[print_test.txt](https://github.com/lepton-eda/lepton-eda/files/4449002/print_test.txt)

[2020-04-08 12:14] vzh commented on #622
I'm confused even more.  Tried the same font as in your PDF, different page orientation and sizes, printed via image export and 'print to file',  and no, I could **not** reproduce your issue.  OK, let's try another way.  Could you please post here what your `configure` says during compilation?

[2020-04-08 14:36] suboptimallife commented on #622
Attached.
[config.log](https://github.com/lepton-eda/lepton-eda/files/4451060/config.log)

[2020-04-08 15:21] graahnul-grom commented on #622
I'm unable to reproduce it, too.
@suboptimallife IIUC, your system is openSUSE. What version are you using?

[2020-04-08 15:44] suboptimallife commented on #622
NAME="openSUSE Tumbleweed"
# VERSION="20200305"

[2020-04-08 16:39] vzh commented on #622
Looks like an issue with [harfbuzz](https://github.com/harfbuzz/harfbuzz/). @suboptimallife, what version of that library do you have?

[2020-04-08 21:06] suboptimallife commented on #622
2.6.4-1.2

[2020-04-08 21:24] suboptimallife commented on #622
OK. So, when checking the versioning of harfbuzz I noticed there was an update available to move from 2.6.4-1.2 to 2.6.4-1.3. I executed that update and now things are really goosed.
I am presented with the following dialogue:
![image](https://user-images.githubusercontent.com/17526392/78834790-04040500-79e7-11ea-9b78-ed0bad654994.png)
Then this dialogue:
![image](https://user-images.githubusercon

[2020-04-08 21:33] suboptimallife commented on #622
Rebooted and those recent errors are cleared. Still have Y offset on LOWER aligned text items.

[2020-04-09 05:56] vzh commented on #622
OK, thanks. Let's go further.
[This script](https://github.com/lepton-eda/lepton-eda/files/4454256/text-add-bounds.scm.txt) adds boxes showing bounds of all toplevel text objects in schematic.  Could you please do as follows:
- Download the script and rename it, say, to **/tmp/text-add-bounds.scm**.
- Open your schematic **print_test-alignment.sch**, hit `:` and enter `(primitive-load "/tmp/text-a

[2020-04-09 10:29] suboptimallife commented on #622
Bounding box script was unsuccessful:

Lepton EDA/lepton-schematic version 1.9.10.20200319 git: 41225ef
Loaded RC file [/usr/local/lepton/share/lepton-eda/system-gafrc]
Loaded RC file [/home/sandy/GDrive/tel-project/BEIS/gafrc]
Loaded RC file [/usr/local/lepton/share/lepton-eda/system-gschemrc]

Loading schematic [/home/sandy/GDrive/tel-project/BEIS/print_test.sch]

Backtrace:
          13 (apply-

[2020-04-09 11:00] graahnul-grom commented on #622
The script works, though it could be slightly modified to
check for text visibility using `text-visible?()` function.
`object-bounds()` returns `#f` for invisible objects.
Please select `Attributes->Show/Hide Hidden Text` in menu
and try again.

[2020-04-09 11:09] graahnul-grom commented on #622
[code]

[text-add-bounds.scm.diff.txt](https://github.com/lepton-eda/lepton-eda/files/4455781/text-add-bounds.scm.diff.txt)

[2020-04-09 12:44] vzh commented on #622
Don't know, what version is now compiled on my system, though it works for hidden text objects without modification.

[2020-04-09 12:55] graahnul-grom commented on #622
It works with 1.9.10 release and doesn't work with the latest git version.

[2020-04-09 14:21] suboptimallife commented on #622
Applied the patch and bounding boxes are now included in printed output attached
[print_test-alignment-bounds.pdf](https://github.com/lepton-eda/lepton-eda/files/4456662/print_test-alignment-bounds.pdf)

[2020-04-09 18:47] vzh commented on #622
@graahnul-grom, @suboptimallife, thank you!  It is obvious the position of lower aligned text depends on its size. I've found that *font descent* is used for such (lower aligned) text objects to calculate their size and position.  I also found an [interesting program](https://gist.github.com/ynkdir/849071) to check the descent of the font used for printing.  As I see the font "Roboto-Regular" was

[2020-04-09 19:27] graahnul-grom commented on #622
The results for "Roboto Regular 10" and "Roboto 10" on my system:
[code]

[2020-04-10 10:33] suboptimallife commented on #622
I hope I've done this right:

Roboto Regular 10> LC_ALL=en_GB ./a.out
lang=default ascent=12.369141 descent=3.254883
lang=C ascent=12.369141 descent=3.254883
lang=en-GB ascent=12.369141 descent=3.254883

Roboto 10>LC_ALL=en_GB ./a.out
lang=default ascent=12.369141 descent=3.254883
lang=C ascent=12.369141 descent=3.254883
lang=en-GB ascent=12.369141 descent=3.254883

[2020-04-10 17:09] graahnul-grom commented on #622
I've just downloaded and installed openSUSE Tumbleweed 20200407
in VirtualBox, compiled lepton-eda git master and 1.9.10 release.
Here's my observations:

- `lepton-cli export` (master) produces empty `pdf` and `ps` files
- `lepton-cli export` (1.9.10) works, and there's no text shifted
- `export::font` config value doesn't matter
- `File->Print` (and preview) shifts text down, not just in Y
direc

[2020-04-10 18:19] graahnul-grom commented on #622
@suboptimallife Could you confirm the above behavior, please?
Or is it different on your system?

[2020-04-11 11:33] suboptimallife commented on #622
Lepton EDA 1.9.10.20200319 (git: c81b378)
`lepton-cli export -o print_test-003.pdf print_test.sch` produces an empty pdf
lepton-schematic print attached which shows different behaviour from @graahnul-grom in that it doesn't seem to matter what the text size is, just the alignment.
[print_test-005.pdf](https://github.com/lepton-eda/lepton-eda/files/4464522/print_test-005.pdf)

[2020-04-11 12:51] graahnul-grom commented on #622
Could you please answer the following questions:

1) What's the text size of the string "SMALLER_TEXT"?
2) Could you confirm that not only `lower-left`-aligned text is shifted,
but also `lower-middle` and `lower-right` aligned text is affected?
3) Does `lepton-cli` from `1.9.10` *release* (git: 56bb6e5) produce
correct pdf output without any text shifts?

Thank you.

[2020-04-11 16:50] graahnul-grom commented on #622
Yet another discovery:
In the schematic below, there are 10 text strings sized from 1 to 10,
lower-aligned (left, right, middle - same results).
'File->Print' in lepton-schematic built from the master branch
produces pdf screenshot'ed (and attached) here:

![issue-622-test-dmn-pdf-screenshot](https://user-images.githubusercontent.com/26083750/79049493-8ec94780-7c13-11ea-8422-8a217bd17061.png)

**A

[2020-04-11 17:46] graahnul-grom commented on #622
Confirmed.
1) In one of the comments [above](https://github.com/lepton-eda/lepton-eda/issues/622#issuecomment-612125330) I said that text size should be equal to, or less than 8 for proper text pdf rendering. That is because it was the smallest text size in my test schematic.
2) If all texts in a schematic have equal size - no problems.

[2020-04-11 20:55] suboptimallife commented on #622
The SMALLER TEXT is size 6.
lower-left, lower-middle, lower-right are all subject to shifting.
I'll uninstall Lepton EDA 1.9.10.20200319 (git: c81b378) and install release 56bb6e5 and get back to you on the export behaviour.

[2020-04-11 21:22] suboptimallife commented on #622
Lepton EDA 1.9.10.20200319 (git: 56bb6e5) `lepton-cli export` produces a pdf with no shifts.
Lepton EDA 1.9.10.20200319 (git: 56bb6e5) `lepton-schematic' does still shift lower aligned text.

[2020-04-11 22:01] graahnul-grom commented on #622
@suboptimallife Thank you very much. And I see the same on my
VirtualBox Tumbleweed.

[2020-04-21 07:04] vzh commented on #622
Hi again!
I found the culprit, it's Pango 1.44, and more bugs related to it.  It manifests itself the same way on Debian after I updated the lib. Please check files in the directory **schematic/tests** in the repo, especially **alignment.sch** and **multiline2.sch**.  Try to zoom in and out and you'll find what was reported about a half year ago and more.  Currently, I see three issue with the new

[2020-04-24 19:52] graahnul-grom commented on #622
This is what I get on my system (FreeBSD) with pango 1.42.4.
`lepton-cli export` to `pdf` and `ps` now works.
Schematic, exported image (File->Write Image),
exported pdf (`lepton-cli export`), printed pdf (File->Print)
and print preview all look the same. All strings are
shifted up a little.
I didn't try it on openSUSE yet.

![issue-622-test-dmn](https://user-images.githubusercontent.com/26083750/

[2020-04-24 20:15] vzh commented on #622
It's OK, I believe. Now *logical* text extents are used for rendering instead of *inked* ones.  So text blocks, say, "xxx" and "yyy" will be aligned on same baseline when lower alignment is used. Previously, the "feet" of the former were aligned with the "tail" of the latter.

I did :-)  And tonight I'm going to try it on debian with new pango, too.

[2020-04-24 20:18] vzh commented on #622
@suboptimallife, please check if the branch in #629 fixes your issue.

[2020-04-24 20:53] graahnul-grom commented on #622
Yes, that baseline issue was quite annoying. I've found a bug
report on launchpad about that ([795130](https://bugs.launchpad.net/geda/+bug/795130)).

[2020-04-24 21:52] suboptimallife commented on #622
Lepton EDA 1.9.10.20200319 (git: 9d3dcec) : text translation is still an issue and lepton-cli export still produces a blank pdf. Is this the correct build to test against?

[2020-04-24 23:10] vzh commented on #622
@suboptimallife, the branch I've told you about is not merged yet (waiting for you approval :-)) The PR #629 contains my own branch which you could fetch and try: https://github.com/vzh/lepton-eda/tree/fix-font-rendering-issues. Git commit 0be19e3 is the top of it.  In order to check it out, you need to add my "fork" (really, my development repo) https://github.com/vzh/lepton-eda to your git remot

[2020-04-25 13:38] graahnul-grom commented on #622
Tested #629 on:
- FreeBSD 11.3-STABLE, pango-1.42.4
- antiX 17 (based on Debian 9 "stretch" - oldstable), pango-1.40.5
- antiX 19 (based on Debian 10 "buster" - stable), pango-1.42.4
- openSUSE Tumbleweed 20200407 (in VirtualBox), pango-1.44.7

On all those systems I get consistent results.

[2020-04-26 08:49] vzh commented on #622
@graahnul-grom, thank you! I'll apply the branch then.

[2020-04-26 08:51] #622 closed

[2020-06-01 19:43] majenkotech opened #646 "lepton-schematic seems to have a major memory leak"
Just loading a simple schematic with just a couple of components, and moving around the work area causes the memory usage to grow and grow and grow (just watch it in `htop`...) until it uses all your available memory and the OOM killer terminates it.

Here's a brief report from `valgrind` after just a few seconds of use:

[code]

[2020-06-02 10:43] graahnul-grom commented on #646
@majenkotech Thanks for the report. Could you please show the
`lepton-schematic --version` and `guile --version` output?
What operating system are you using?
Do you see anything suspicious in the `lepton-schematic` log
when this happens?

[2020-06-02 10:51] majenkotech commented on #646
Lepton is git HEAD:

    Lepton EDA 1.9.10.20200319 (git: 1e4c6d7)

Guile is 2.0.13:

    guile (GNU Guile) 2.0.13
    Packaged by Debian (2.0.13-deb+1-5.4)

OS is Ubuntu 20.04 64-bit

Where's the lepton-schematic log? You mean the log window? No, there's nothing in there.

[2020-06-02 12:06] vzh commented on #646
Thanks once more! I see, it's almost master HEAD. Unfortunately, I see the issue, and it is in my new brand rendering code :-( To be more precise, in the text bounds calculation code with all its renderer contexts and surfaces creation, destroying, updating etc.  It definitely needs much more attention.

[2020-06-02 12:45] majenkotech commented on #646
Good luck with that then :)

[2020-06-02 14:57] graahnul-grom commented on #646
I can reproduce it by zooming in/out many times by a large amount
and monitoring memory usage in `htop`.

[2020-06-02 15:12] vzh commented on #646
Please check if #647 fixes it.

[2020-06-02 15:24] majenkotech commented on #646
I think you have found the major memory leak there.

There is still something not being freed somewhere, but that may be something that is allocated once and never changed, since it doesn't seem to be growing. So it can be, for now, ignored.

[code]

[2020-06-02 15:33] vzh commented on #646
Please don't rush closing it. Github will close it automatically when the branch will be applied to master.

[2020-06-02 15:34] #646 closed

[2020-06-07 14:54] zo0om opened #649 "Need to refresh libraries after adding symbols"
...and I'm told also after editing them (@vzh), which I guess is more important because you could import an old version of a symbol by mistake.

A perfect system would open the save dialogue at the symbol library, and present an authentication dialogue to allow you write access. But maybe this would require you to declare your creation is a symbol before trying to save it, so "New" would have to h

[2020-06-07 14:58] zo0om opened #650 "Suggestions for shortcuts"
* Ctrl-S or its OS-specific equivalent is universally used to save, but doesn't work (at least on Ubuntu)
* Ctrl-- and Ctrl-+/Ctrl-= are common keys to zoom out and in

[2020-06-07 15:02] zo0om opened #651 "Cannot select a locked object"
Obviously you don't want to be able to edit it, but it's confusing for us newbies, so maybe it could produce a dialogue telling you it's locked, and possibly offering to unlock it? I suppose that should only happen if you click on an individual object rather than multi-selecting by dragging an area.

[2020-06-07 15:10] zo0om commented on #649
Oh, I didn't spot that you have the option of displaying _both_ symbols and schematics, so the above doesn't make a great deal of sense!

[2020-06-07 16:07] graahnul-grom commented on #650
You can override default shortcuts by placing the following
to `$HOME/.config/lepton-eda/gschemrc` file:

[code]

Please see the [menu file](https://github.com/lepton-eda/lepton-eda/blob/master/schematic/scheme/conf/schematic/menu.scm) for other commands.

[2020-06-08 05:49] vzh commented on #650
I'm for such a change. Nothing breaks if we add these shortcuts.  I would even add just `plus` and `minus` (without any modifier keys) as defaults. And probably `=` as an alias for `V E` (zoom extents). WDYT, folks?

[2020-06-08 11:08] graahnul-grom commented on #650
Yes, it would be convenient.

[code]

`Ctrl+S`: in the same vein, we could add `Ctrl+N` for `file-new`
and `Ctrl+O` for `file-open`;

[code]

[2020-06-08 12:30] vzh commented on #650
@graahnul-grom, could you make a PR with those changes, please?

[2020-06-08 14:42] graahnul-grom commented on #650
#652
I've also added `Ctrl+P` for `file-print`.
@zo0om, @vzh Could we consider this issue as closed then?

[2020-06-08 15:57] vzh commented on #650
Ehmm, @zo0om asked for 'ctrl-+' and 'ctrl--'. @graahnul-grom, could you please add them, too?

[2020-06-08 17:03] graahnul-grom commented on #650
And `Ctrl+=`?

[2020-06-08 17:30] vzh commented on #650
I'm not sure about it. @zo0om, WDYT about making `Ctrl`-`equal` work as `V E` (zoom extents)?

[2020-06-08 18:49] zo0om commented on #650
`Ctrl-equal` should do the same as `Ctrl-+`, zoom in (`Z`), so having to press shift is optional. I think that's the convention - it certainly does it in evince (PDF viewer).

[2020-06-08 18:53] zo0om commented on #650
While your enthusiasm is engaged, you might want to add `Shift-Ctrl-Z` for redo (as well as `Ctrl-Y`). I find it useful for moving around the undo buffer quickly.

[2020-06-08 19:33] graahnul-grom commented on #650
`+` - zoom in, `-` - zoom out. It's logical and convenient. Without
any modifiers.
Although we are all accustomed to `Ctrl+S` and `Ctrl+O`,
there are no standard "conventions" for zoom, `redo` and other keys.
Different apps do use different combinations.
`evince` is not an example of perfect GUI and usability. IMHO,
quite the contrary. `+` and `=` zooms in, however, while `-` zooms
out, `_` does n

[2020-06-08 19:48] graahnul-grom commented on #650
Another possibility is to use `+` and `=` for zoom in, `-` for zoom out
and `0` for zoom restore. WDYT?

[2020-06-08 19:55] graahnul-grom commented on #650
...and keypad `*` for view-zoom-extents.

[2020-06-08 20:23] graahnul-grom commented on #650
I've tried it and I like it. :-) Three adjacent keys both on keypad and
main keyboard, no need to press any modifiers:

[code]

[2020-06-08 21:00] graahnul-grom commented on #650
FWIW, [evince keyboard shortcuts](https://help.gnome.org/users/evince/stable/shortcuts.html.en).

[2020-06-08 21:02] graahnul-grom commented on #650
I'm for `Ctrl+Shift+Z` => `edit-redo`. It doesn't conflict with any
existing actions.

[2020-06-08 22:13] zo0om commented on #650
On a lot of keyboards including UK and US, + is accessed with shift, which is why the unshifted character = is mapped to the same function. Therefore you can zoom in and out either by strictly adhering to the + and - convention or not bothering with the shift key for +, which is inconvenient.

Firefox uses this exact mapping.

Chromium also maps _, so the state of the shift key is ignored complete

[2020-06-09 05:35] vzh commented on #650
I'm OK with everything suggested.  Yes, it is more convenient if `+` and `=` do the same job.  `0` and probably `Ctrl+0` may be a better for `zoom extents`. @zo0om, zooming to extents is not some default zooming level, it's just such a zoom when all visible objects are included inside the visible area and other, not populated space, excluded.  I wouldn't mind to use `Ctrl+Shift+Z` for redo as well

[2020-06-09 08:27] graahnul-grom commented on #650
Matthew, could you please put the following expressions to
`~/.config/lepton-eda/gschemrc` and test the shortcuts?

[code]

[gschemrc.txt](https://github.com/lepton-eda/lepton-eda/files/4750799/gschemrc.txt)

[2020-06-09 22:15] zo0om commented on #650
All working in 1.9.10 on Ubuntu 20.04!

[2020-06-10 11:53] graahnul-grom commented on #650
Thanks! Any other suggestions? What about merging #652?

[2020-06-11 10:13] spth opened #653 "Document compability"
I am currently using gschem 1.8.2, the latest gschem version in Debian. Apparently the geda-gschem / geda-gaf maintainer moved to lepton, so (like probably many pre-fork gschem users) wonder:

* Will I be able to work with old gEDA files using lepton (I guess yes)?
* Will I be able to work with past-fork gEDA files using lepton (I have no idea)?
* Will I be able to work with lepton files using pos

[2020-06-11 11:36] graahnul-grom commented on #653
Lepton EDA and gEDA uses the same file format, nothing has changed
in this regard, so
1) yes
2) yes
3) yes

Thank you for the good suggestion, we will add notes on compatibility
to the README file.

[2020-06-11 14:30] vzh commented on #653
One small addition to what @graahnul-grom has already said.  So far, we supported gEDA file format and are planning to do so in future since there are lots of symbols/schematics created using it.  If there will be some additions on the `geda-gaf` side (e.g., wrt attributes, or new file format version, and such), it depends on users of Lepton, on you, to point us to what you think is not supported

[2020-06-12 20:22] zo0om opened #655 "Overbar doesn't scale vertically"
lepton-schematic 1.9.10 (git: 56bb6e5) Ubuntu.

When you put an overbar on text by using `\_`, it doesn't scale in the vertical axis relative to the text (i.e vertically if the text is horizontal or horizontally if the text is vertical) when you zoom the page.
It therefore progressively obliterates the text below as you zoom out (or gets weak and weedy if you zoom in an awful long way):
![Zoomed i

[2020-06-13 17:56] graahnul-grom commented on #655
I believe this has been fixed in #629.
Could you please check it with the latest Lepton EDA release (1.9.11)?
lepton-eda-1.9.11 package is [available](https://repology.org/project/lepton-eda/versions) in Ubuntu 20.10.

[2020-06-13 19:03] zo0om commented on #655
Thanks! I should remember I don't have the latest version. I only have Ubuntu 20.04 so built from source and can confirm that the problem is fixed.

[2020-06-13 19:03] #655 closed

[2020-06-14 18:44] graahnul-grom commented on #655
Confirmed, thank you.
[eda_pango_parse_overbars()](https://github.com/lepton-eda/lepton-eda/blob/f04cd559ea3dd1f54ae8e996e6fc48924dea0ba6/libleptonrenderer/edapangorenderer.c#L370) in `libleptonrenderer`.
I'll look into this.

[2020-06-18 10:28] graahnul-grom commented on #655
It's intentional:

[code]

`xxx-\_overbar1\_-xxx-\_overbar2\_-xxx-\_the-rest-of-the-string`

![overbar_2](https://user-images.githubusercontent.com/26083750/85009224-9f36fa80-b14d-11ea-892b-1890e1b0d297.png)

Something wrong with the documentation, then.
@zo0om Matthew, where did you read about that?

[2020-06-18 10:53] graahnul-grom commented on #655
You do not have to build `1.9.11` from source, it's possible to download
the package from https://packages.ubuntu.com/groovy/lepton-eda
for Ubuntu 20.10 ("groovy"\*) and install it with `dpkg -i` on
20.04 LTS ("focal"\*) (just do not forget to uninstall the previous
version and delete the Guile cache: `~/.cache/guile`).

\* *A lyrical aside*
Why, why do we have to memorize not only Ubuntu (and oth

[2020-06-18 10:58] zo0om commented on #655
Ah ok - might be worth putting a note somewhere that the 20.10 version will work on 20.04 as that's current and also long-term supported so many will stick with it.

As for the overbar doc, in my system it's at `file:///usr/share/doc/lepton-eda/wiki/geda-gschem_symbol_creation.html`. I understand now that the character sequence is a toggle operation rather than a wrapping operation.

[2020-06-18 17:51] graahnul-grom commented on #655
Ubuntu page added:
https://github.com/lepton-eda/lepton-eda/wiki/Ubuntu

[2020-06-21 14:30] graahnul-grom commented on #651
@zo0om Matthew, I hope the attached Guile script will help you to
work with locked objects, please test it.
It binds two keyboard shortcuts: `Ctrl+Shift+L` to select all locked
objects on the active page, and `Shift+L` to select each one in
succession - then, you can press `E Shift+L` to unlock the object
or `E E` to edit its attributes.
Keys are customizable, edit the shortcuts definitions in the

[2020-06-22 15:54] graahnul-grom commented on #651
I have improved the [script](https://graahnul-grom.github.io/scm/select-locked.scm.html), `Ctrl+L` now selects a locked component
under the mouse cursor.

[select-locked-improved.tar.gz](https://github.com/lepton-eda/lepton-eda/files/4814236/select-locked-improved.tar.gz)

[2020-06-23 15:36] graahnul-grom commented on #651
Simplified and fixed [script](https://graahnul-grom.github.io/scm/select-locked.scm.html) [[download](https://graahnul-grom.github.io/scm/select-locked.scm)].
Correctly handle symbols with no graphical elements and
placeholders for missing symbols.
At the moment, placeholders for locked components can be
selected by cycling through them (`Shift+L`), but not by
pointing with the mouse (`Ctrl+L`).
F

[2020-06-29 17:12] rundel-tech opened #661 "Overscored signal names are unreadable in PDF"
I am using lepton-cli export to generate a PDF of my design. The command is:

lepton-cli export --format=pdf --paper=iso_a4 -o $out/Schematics.pdf *.sch

The resulting schematics look fine except that every signal with an overscore is replaced by a rectangle. A similar issue affects lepton-schematic, but there the height of the overscore is affected by the zoom level. This also affects labels in s

[2020-06-29 19:21] vzh commented on #661
This has been fixed along with other issues in #622 and the last release, 1.9.11, includes the fixes and is recommended for use in distributions.

[2020-06-30 06:36] rundel-tech commented on #661
That's good news. Thanks for the quick response.

[2020-06-30 07:22] rundel-tech commented on #661
For the benefit of anyone else encountering this issue, the version in the Ubuntu repositories is currently 1.9.10-2. https://packages.debian.org/unstable/lepton-eda has 1.9.11-1 (lepton-eda_1.9.11-1_amd64.deb). Installing this fixed the issue.

[2020-06-30 08:26] vzh commented on #661
Please also take a look at [this page](https://github.com/lepton-eda/lepton-eda/wiki/Ubuntu) :-)

[2020-07-02 17:27] graahnul-grom commented on #661
@rundel-tech @vzh Could we close this issue?

[2020-07-03 05:53] vzh commented on #661
I'm afraid if we close it just now, somebody will report it once again.
OTOH, the more issues we close, the better we work ;-)

[2020-07-03 05:53] #661 closed

[2020-07-04 17:12] graahnul-grom commented on #651
Done. The [script](https://graahnul-grom.github.io/scm/select-locked.scm.html) [[download](https://graahnul-grom.github.io/scm/select-locked.scm)] determines the type of placeholders used and calculates their bounds.
Now placeholders for missing locked components under the mouse
cursor can be selected with `Ctrl+L`.

[select-locked-improved-3.tar.gz](https://github.com/lepton-eda/lepton-eda/files/

[2020-07-05 11:08] graahnul-grom commented on #76
[geda-gaf 1.10](https://github.com/macports/macports-ports/tree/master/science/geda-gaf) has been added to [macports](https://www.macports.org) recently.
If it's there, chances are lepton could be built under macports, too.
macports system is similar to FreeBSD ports, so I think it's worth a try.
The problem is that I have no mac machine to do it.
I've found an [article](https://www.howtogeek.com/

[2020-08-07 23:48] vzh commented on #39
Just updated the issue with my view on what we should do with component libraries.  Since we're maintaining backward compatibility with **geda-gaf** and nothing in new Lepton code breaks users' projects, I don't see any problem with this.  I believe we've did anything right to ensure our users can use both projects (**lepton** and **geda-gaf**) without interference.  Please file a new bug report i

[2020-08-07 23:48] #39 closed

[2020-08-08 00:09] vzh commented on #44
I'll close the issue since there are not so many active devs here in Lepton and no one would want to maintain a new mailing list or ask someone to do it. Not a big deal, I believe.  We have many other ways to talk to each other these days: here on GH, on the `geda-user` ML, using private emails, etc.  Please don't re-open this issue if you are not a Lepton developer or if you don't want to deal wi

[2020-08-08 00:09] #44 closed

[2020-08-13 16:37] adrian-purser opened #677 "Incorrect position of lower aligned text on screen"
The position of some text is incorrect in version 1.9.11 where it was correct in 1.9.10. The text shown in the image below has lower-right alignment.

![lepton-eda_text](https://user-images.githubusercontent.com/8735584/90161566-3950a300-dd8b-11ea-9119-57dfd5304215.png)

[2020-08-14 06:39] vzh commented on #677
Please see #622, especially [this](https://github.com/lepton-eda/lepton-eda/issues/622#issuecomment-619219190), and #629.  We've changed the way how fonts are rendered in the process of fixing pango-1.44 issues.  Now, fonts are aligned using their *baseline* instead of their *visible contents*, so you'll probably have to realign some text objects in your schematics.  Choosing another font that has

[2020-08-28 20:13] noqsi commented on #105
OK, this has bit me again. I have a design that has multiple copies of a subsystem with a complicated interface. To make clear schematics I tried separating the interface into three symbols, representing analog, digital, and power to the subsystem. Give each set of three the same refdes, just like I'd do with a complicated chip. But, if I put source= into each symbol, it includes the source three

[2020-08-29 22:33] vzh commented on #105
@noqsi, it would be of much help if you provide here a simple schematic example along with info on what backend you're meaning here (what commands you use), and the result you would desire to have.  Then, the next step would be adding this to tests, even *XFAIL* for now, which we could fix later.

[2020-09-01 00:06] noqsi commented on #105
Ok, here's a project. I expect `lepton-netlist -g geda top.sch` to yield a netlist with a single component **X1/D1** with its pins connected by a single net. This example is, of course, silly and trivial: the real use case is subschematics with complicated interfaces better expressed by multiple symbols than by a huge symbol with too many pins to comprehend.

[foo.zip](https://github.com/lepton-ed

[2020-09-28 14:45] vzh opened #681 "Lepton should support GTK3 as well"
It is one of Lepton goals. Moreover, @bdale reported on gitter:

[code]

[2020-09-28 15:03] vzh commented on #681
[Migrating from GTK+ 2.x to GTK+ 3](https://developer.gnome.org/gtk3/stable/gtk-migrating-2-to-3.html)

[2020-10-09 14:02] barjac opened #686 "Spaces in tEDAx output strings from lepton-netlist should be escaped"
Hi,
I am just about to package lepton-eda for the Mageia distro, for which I am the maintainer of pcb-rnd.
I have started to use lepton-eda myself and so far it is behaving well. By that I mean not crashing and losing work as has been happening for years with gschem!

However I have hit the above issue, where parametric footprints (in particular) which contain spaces between the parameters are pas

[2020-10-09 16:23] barjac opened #687 "Colour scheme changes saved to file linked in gschemrc are ignored"
I have edited the colour scheme and saved to a file, /home/baz/Geda/colours
I have created ~/.config/lepton-eda/gschemrc
containing only:
primitive-load "/home/baz/Geda/colors"
The colour code I changed, (just for 'net' at present) is correct in the 'colours' file.
What am I doing wrong?
This gschemrc is being read OK as any syntax errors in it stop the program launch.
I am using the dark theme, i

[2020-10-10 04:31] vzh commented on #687
Hi Barry,
Could you please provide us with the contents of your files `gschemrc` and `colours` or just attach them here?  What value have you changed and how?

[2020-10-10 04:33] vzh commented on #686
Well, a little schematic example with your workflow example (commands you launch to get the netlist) would not harm :-)

[2020-10-10 04:59] vzh commented on #677
Hi Adrian,
Please check if the branch in #688 fixes your issue.

[2020-10-10 14:53] barjac commented on #687
Hi,
This is the colors file content:
`[baz@jackodesktop Geda]$ cat colors
(display-color-map '(
  (background           "#000000")
  (pin                  "#ffffff")
  (net-endpoint         "#ff0000")
  (graphic              "#00ff00")
  (net                  "#97ff05")
  (attribute            "#ffff00")
  (logic-bubble         "#00ffff")
  (dots-grid            "#bebebe")
  (detached-attribute

[2020-10-10 16:51] vzh commented on #687
Barry,
IIUC, your call for `primitive-load` is without parentheses?
If so, Guile (and other Scheme interpreters) will interpret the code as two expressions, one of which returns a function named `primitive-load`, and the next one is just a string and returns just the string. So the interpreter won't even warn you since anything looks and interprets well.
What you need then to make a function call

[2020-10-10 16:53] barjac commented on #686
tEDAx created from testboard.sch using:

lepton-netlist -g tEDAx -o testboard.tdx testboard.sch

file:///home/baz/Geda/Testboard/testboard.sch

When the generated tEDAx file is imported to pcb-rnd then we see the error:
import_sch2: reimport with tEDAx -> 0x7f5ec7dc8d00
tedax: not importing refdes=C1: no footprint specified

It is valid for spaces to be in text strings in the footprint, or other f

[2020-10-10 17:16] barjac commented on #687
Thanks! I will do that, but it is not clear from the message in the color-chooser that the parenthesis is part of the text to be used.
I am familiar with function call syntax like somefunction(arg1 arg2), and if that had been the case then it would have been obvious to me.
Maybe you could add "including the parenthesis/brackets" to that text. Otherwise it looks like an alternative way of quoting.

[2020-10-10 17:17] #687 closed

[2020-10-10 17:35] vzh commented on #687
Well, **Lisp**s (and one of their dialect named Scheme) have this syntax for decades (since about 1960s).  You just need to have used to it :-)  It's straightforward, since functions and data have the same syntax.  You have just to remember to use (func-name args) instead of C's func-name(args).
If you feel like it should be reflected in the color chooser dialog, please open another issue, hopeful

[2020-10-10 17:38] vzh commented on #686
IIUC, in the tEDAx format, spaces and tabs should be escaped in any attribute value, component and net name, right?

[2020-10-12 14:27] barjac commented on #686
Well yes, but to fix this properly so future problems don't arise, the tEDAx spec needs to be implemented fully, not just enough to patch up this bug.
You need to escape any string you write, there's no exception. The easiest way would be to pass any field (word) you are going to write to an escaper function.

[2020-10-14 16:35] vzh commented on #686
IMO, patching up any bug is a step forward, so I am and will always (I hope) encourage anyone who reports or fixes issues.  There are too many issues we're trying to address, so there ever will be need of help from the users :-)
I've tried to resolve the issue in #689, and added a solution from another question reported on the geda-user list some days ago.  Looking forward for your review...

[2020-10-15 13:23] barjac commented on #686
Yes, this looks fine with the PR patch applied. Tested import to pcb-rnd with tEDAx exported where several fields had spaces and all is now good.
I did notice that fields with accidental trailing spaces are exported with these still in place. They are included in the tEDAx file suitably escaped and do not impact pcb-rnd, so do not really affect this bug report.
However I thought it worth mentionin